<div class="panel-body-collapse collapse in">
      <div class="panel-body ">

      
          <h1>{{question.name}}
          <form>
          <div  ng-repeat="question in question.questions">
          <h2>{{question.name}}</h2>
            <div ng-repeat="datapoint in question.dataPoints">
              <h2>{{datapoint.label}}</h2>
              
              <div ng-if= "datapoint.type == 'Text'">
                <input  type="text">{{option}}</input>
              </div>

              <div ng-if="datapoint.type == 'List Single Answer'">
                <div ng-repeat = "option in datapoint.options">
                <input  type="radio" name ="{{datapoint.label}}" value="{{option}}"> {{option}}
              </div>

            </div>

          </div>
          </div>

          </form>



      </div>
  </div>