<div class="container-fluid turbo-cols-static turbo-grid-wrap">
<div class="turbo-grid">
	<!-- ngView:  -->
	<div class="row ng-scope" rel="panels">
		<div class="col-md-8">
			<div class="turbo-card turbo-toggle">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title text-center">
							Nutrition Data for the {{name}} family
						</div>
					</div>

					<div class="panel-body no-padding-top">
					
						<div class="vpadded">

							<div style="height: 186px;" class="text-center padded-top">
								<h3>Enter Food:</h3>
								<input type ="text" ng-model="food"></input>
								<button type="button" class="btn btn-primary btn-xs" ng-click="search(food)">Search</button>
			
							</div>

							<div>
								<ul>
									<li ng-repeat="food in foods"><button type="button" class="btn btn-primary btn-xs" ng-click="addFood(food.fields.item_id)">Add</button>-{{food.fields.item_name}}-{{food.fields.brand_name}}</br><label>
									<input type="radio" ng-model="frequency" value="Daily">Daily
								</label></br><label>
									<input type="radio" ng-model="frequency" value="Weekly">Weekly
								</label></li>
								{{frequency}}
								</ul>
								<button type="button" class="btn btn-primary btn-xs" ng-click="buildinterview()">Finish Interview</button>
							</div>
							Selected Foods:
								<ul>
								<li ng-repeat="food in responseSet">{{food}}</li>
								</ul>
						</div>
						<div class="row">
							<div class="col-xs-4 text-center">
								<div>
									
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>