<div class="container-fluid turbo-cols-static turbo-grid-wrap">
<div class="turbo-grid">
	<!-- ngView:  -->
	<div class="row ng-scope" rel="panels">
		<div class="col-md-8">
			<div class="turbo-card turbo-toggle">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title text-center">
							Nutrition Data for the {{name}} family
						</div>
					</div>
					Selected Foods:
								<ul ng-repeat="food in responseSet">
								<li>{{food.item_name}}-{{food.item_brand}}-Servings:{{food.servings}}
								<ul>
									<li>Calories:{{food.nf_calories}}</li>
									<li>Protein:{{food.nf_protein}}</li>
									<li>Carbs:{{food.nf_carbs}}</li>
									<li>Sodium:{{food.nf_sodium}}</li>
								</ul>
								</li>
								</ul>
								Totals
								Calories:{{calTotal}}
								Protein:{{proteinTotal}}
								Carbs:{{carbTotal}}
								Sodium:{{sodiumTotal}}
					<div class="panel-body no-padding-top">
					
						<div class="vpadded">

							<div style="height: 186px;" class="text-center padded-top">
								<h3>Enter Food:</h3>
								<input type ="text" ng-model="food"></input>
								<button type="button" class="btn btn-primary btn-xs" ng-click="search(food)">Search</button>
			
							</div>

							<div><span ng-if="food" class="animate-if">
  									Please choose a food from the list:
								</span>
								<ul ng-if="food" class="animate-if">
									<li ng-repeat="food in foods track by food.fields.item_id">-{{food.fields.item_name}}-{{food.fields.brand_name}}--Servings:<input type="number" name="quantity" min="1" max="100" ng-model="servings.amount"></br>
									<form>
									<input type="radio" name="frequency" ng-model="servings.frequency" value="Daily" ng-value"selectedValue">Daily
								</br>

									<input type="radio" name="frequency" ng-model="servings.frequency" value="Weekly" ng-value="selectedValue">Weekly<br/>
									<button type="button" class="btn btn-primary btn-xs" ng-click="addFood(food.fields.item_id)">Add</button>
								</form></li>
								{{frequency}}
								</ul>
								<button type="button" class="btn btn-primary btn-xs" ng-click="finish()">Finish Interview</button>
							</div>
							
						</div>
						<div class="row">
							<div class="col-xs-4 text-center">
								<div>
									
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>