<h1>
 {{user.first_name}} {{user.last_name}}'s Dashboard
</h1>
<div class="row">
  <div class="btn-toolbar">
  	<div >
    <a ng-repeat="area in areas" href = "#/{{area}}/households"><button class = "btn-success">{{area}} Households</button></a>
    </div>
    <button class = "btn-success" data-ng-click = "createEvent()">CreateEvent</button>
    <a href = "#/areas"><button class = "btn-success">Areas</button></a>
  </div>
</div>
<div class="row">
  <ng-include src="manager_partial.html"></ng-include>
</div>
<div class="row">
  <ng-include src="dashboard_list.html"></ng-include>
  <ng-include src="meetings_list.html"></ng-include>
</div>

