<div class="turbo-card turbo-toggle"
     data-back-class="bg-info"
     data-turbo-url="<%= url_for('/htmls/elements/turbocards/body.html') %>"
     >
  <div class="carousel slide vertical tile-normal" data-ride="carousel">
    <div class="carousel-inner bg-primary-lt gradient-diag1">
      <div class="item active">
        <div class="padded">
          <h4 class="text-white base-header">Units sold today</h4>
          <h2 class="text-white base-header major">144</h2>
          <h5>25% <i class="fa fa-caret-up"></i> from yesterday</h5>
        </div>
        <div class="hpadded">
          <div class="sparkline-line"></div>
        </div>
      </div>

      <div class="item">
        <div class="padded">
          <h5 class="major base-header">Project Emerald</h5>
          <h4>$2,145 <span class="hpadded"><i class="fa fa-caret-up"></i> 4%</span></h4>

          <h5 class="major base-header">Some Other Project</h5>
          <h4>$1,332 <span class="hpadded"><i class="fa fa-caret-down"></i> 2%</span></h4>

          <div class="tile-content-bottom-left padded">
            <a class="btn btn-sm btn-transparent-light turbo-open" href="#">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

