<div class="panel panel-success-lt">
  <div class="panel-header panel-colorize gradient-diag1">
    <%= partial 'htmls/widgets/actions', locals: { colors: true } %>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
      <li><a href="#profile" data-toggle="tab">Profile</a></li>
    </ul>
  </div>

  <div class="panel-body panel-body-collapse">

    something

  </div>
</div>
