<form>
  <div class="form-group string">
    <input aria-required="true" class="string form-control" 
           maxlength="255" name="user[full_name]" placeholder="Full name" 
           size="255" type="text" rel="jvfloat">
  </div>
  <div class="form-group email required">
    <input aria-required="true" class="string email required form-control"
           maxlength="255" name="user[email]" placeholder="Email" 
           required="required" size="255" type="email" rel="jvfloat">
  </div>
  <div class="form-group password required">
    <input aria-required="true" class="password required form-control" 
           maxlength="128" name="user[password]" placeholder="Password" 
           required="required" size="128" type="password" rel="jvfloat">
  </div>
  <div class="actions">
    <input class="btn btn-primary" name="commit" type="submit" value="Sign up">
    <small>
      or <a href="#">Sign in</a>
      / <a href="#">Forgot password</a>
    </small>
  </div>
</form>

<br class="hidden-lg">
