<form>
  <label class="string" for="form-control-header">
    I resize depending on the amount of text
  </label>
  <div class="form-group string">
    <textarea class="form-control" rel="autosize" placeholder="Text here"></textarea>
  </div>
</form>