<form id="new-area-form" ng-submit="areaSubmit()">

<div class="row">
	<label for="new-area-region">Region</label>
	<select name="new-area-region" ng-model="area.region" >
		<option ng-repeat="region in regions" value="{{ region.$id }}"> {{ region.name }}</option>
	</select>
</div>

<div class="row">
	<label for="new-area-name">Name</label>
	<input type="text" name="new-area-name" id="new-area-name" ng-model="area.name" />
</div>

<div class="row">
	<input type="submit" name="Submit" id="submit" value="Submit" />
</div>

</form>
