<%= partial 'layouts/sidebar/bigdrop' %>

<div class="oc-sidebar-header">
	<ul class="nav nav-justified-all">
		<li>
			<a id="oc-left-toggle" href="#oc-wrapper" class="btn-nav" style="width: 50px;" data-toggle="offcanvas" data-control="left" data-states="open,partial" data-persist="lg,md,sm" data-parent="body" data-sibling="right">
				<i class="icm icm-menu6 oc-partial-rotate"></i>
			</a>
		</li>
		<li>
			<% link_to '#jump-to-menu', class: 'btn-nav', 'data-toggle' => 'modal' do %>
				<i class="icm icm-arrow-right6"></i>
			<% end %>
		</li>
		<li>
			<a class="btn-nav" href="#" rel="popover-click" data-toggle="popover" data-container="body" data-placement="bottom">
				<i class="icm icm-bubbles5 has-corner-badge animated tada">
					<span>
					</span>
				</i>
			</a>
		</li>
		<li>
			<% link_to '/htmls/pages/inbox.html', relative: true do %>
				<i class="icm icm-envelope3 has-corner-badge">
					<span class="badge badge-corner badge-corner-top-right badge-primary-dk"></span>
				</i>
			<% end %>
		</li>
	</ul>
</div>

<div class="oc-sidebar-content" id="collapseAvatarLeft">
	<ul class="nav nav-stacked oc-sidebar-nav visible-xs">
		<li>
			<form class="oc-header oc-search" role="search">
				<div class="form-group has-header">
					<span class="icm icm-search3 form-control-header"></span>
					<input type="text" class="form-control" placeholder="Search">
				</div>
			</form>
		</li>
		<li class="dropdown">
			<a href="#dropdownUserSidebar" class="collapsed"  data-toggle="collapse" data-parent="#collapseAvatarLeft">
				<div class="media">
					
					<div class="media-body">
						<h4 class="media-heading"></h4>
						
					</div>
				</div>
			</a>
			<ul class="collapse dropdown-menu" id="dropdownUserSidebar">
				<li>
					<a href="#"><i class="icm icm-user"></i> Profile</a>
				</li>
				<li>
					<a href="#"><i class="icm icm-cog"></i> Settings</a>
				</li>
				<li>
					<a href="#">
						<i class="icm icm-switch text-danger"></i> <span class="text-danger">Sign out</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>

	<%= partial 'layouts/sidebar/nav' %>
</div>
