<div class="row">
  <div class="col-sm-6 col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          All Users
        </h3>
      </div>

      <div class="panel-body index">
          <ul>
            <li ng-repeat = "user in users">
            {{user.$value}} - <a href = "#/admin/user/edit/{{user.Name}}">Edit</a> - <a href = "#/users/show/{{user.Name}}">View</a>
            
            
            
            </li></ul><br/>
            <a href = "#admin/users/new"><button class = "btn-success">Add New User</button></a>
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="row"></div>
