<section id="block-spinner">
  <p>
    <label for="spinner">Spinner:</label> <br>
    <input type="text" id="spinner" name="value" value="0" class="form-control">
  </p>

  <p>
    <button id="disable" class="btn btn-default">Toggle disable/enable</button>
    <button id="destroy" class="btn btn-default">Toggle widget</button>
  </p>

  <p>
    <button id="getvalue" class="btn btn-default">Get value</button>
    <button id="setvalue" class="btn btn-default">Set value to 5</button>
  </p>
</section>