<nav class="navbar navbar-default navbar-static-top navbar-inplace" role="navigation">
  <ul class="nav navbar-nav navbar-left pull-left hidden-sm hidden-md hidden-lg">
    <li>
      <a id="oc-left-toggle-xs" href="#oc-wrapper"
         class="btn-nav pull-left "
         data-toggle="offcanvas" data-control="left"
         data-states="open,hidden"
         data-persist="lg,md,sm"
         data-parent="body" data-sibling="right">
        <i class="icm icm-menu6"></i>
      </a>
    </li>
  </ul>
  <% link_to '/htmls/dashboard.html', class: "navbar-brand" do %>
    <%= image_tag 'emerald_flat.png' %>
    <span class="text-gradient-success-dk">Emerald</span>
  <% end %>
  <ul class="nav navbar-nav navbar-right pull-right">
    <li id="oc-right-toggle-container">
      <a id="oc-right-toggle" href="#oc-wrapper" class="btn-nav sidebar-toggle-right"
         
         rel="tooltip" title="Toggle chat"
         data-placement="bottom" 
         data-container="#oc-right-toggle-container" 
         
         data-toggle="offcanvas" data-control="right"
         data-states="open,hidden"
         data-persist="lg,md,sm">
        <i class="fa fa-lg fa-comments has-corner-badge">
          <span class="badge badge-corner badge-corner-top-right badge-info">3</span>
        </i>
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right pull-right hidden-xs">
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="navbar-img-link">
        <%= image_tag lorem.avatar(48), :class => 'img-circle' %>
        <span class="hidden-xs hidden-sm hidden-md">Amy R. Hofstadter</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu animated fadeIn fast">
        <li>
          <% link_to '/htmls/pages/profile.html' do %>
            <i class="fa fa-user"></i> Profile
          <% end %>
        </li>
        <li>
          <% link_to '/htmls/pages/profile.html' do %>
            <i class="fa fa-cog"></i> Settings
          <% end %>
        </li>
        <li>
          <a href="#">
            <% link_to '/htmls/pages/sign_in.html' do %>
              <i class="fa fa-power-off text-danger"></i>
              <span class="text-danger">Sign out</span>
            <% end %>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav nav-center hidden-xs">
    <li>
      <form class="navbar-form-inplace navbar-form-search navbar-right" role="search">
        <div class="form-group has-header selectize-search no-margin-bottom">
          <span class="fa fa-search form-control-header"></span>
          <input type="text" class="form-control selectize-search-movie" placeholder="Search">
        </div>
      </form>
    </li>
  </ul>
</nav>
