<div class="tree" rel="tree">
  <ul>
    <li>
      <span class="tree-node label label-default"><i class="fa fa-calendar"></i> 2013, Week 2</span>
      <ul>
        <li>
          <span class="tree-node label label-success"><i class="fa fa-minus"></i> Monday, January 7: 8.00 hours</span>
          <ul>
            <li>
              <a href="#"><span class="tree-node"><i class="fa fa-clock-o"></i> 8.00</span> &ndash; Changed CSS to accomodate...</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="tree-node label label-success"><i class="fa fa-minus"></i> Tuesday, January 8: 8.00 hours</span>
          <ul>
            <li>
              <span class="tree-node label label-default"><i class="fa fa-clock-o"></i> 6.00</span> &ndash; <a href="#">Altered code...</a>
            </li>
            <li>
              <span class="tree-node label label-default"><i class="fa fa-clock-o"></i> 2.00</span> &ndash; <a href="#">Simplified our approach to...</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="tree-node label label-warning"><i class="fa fa-minus"></i> Wednesday, January 9: 6.00 hours</span>
          <ul>
            <li>
              <a href="#"><span class="tree-node label label-default"><i class="fa fa-clock-o"></i> 3.00</span> &ndash; Fixed bug caused by...</a>
            </li>
            <li>
              <a href="#"><span class="tree-node label label-default"><i class="fa fa-clock-o"></i> 3.00</span> &ndash; Comitting latest code to Git...</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="tree-node label label-danger"><i class="fa fa-minus"></i> Wednesday, January 9: 4.00 hours</span>
          <ul>
            <li>
              <a href="#"><span class="tree-node label label-default"><i class="fa fa-clock-o"></i> 2.00</span> &ndash; Create component that...</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <span class="tree-node label label-default"><i class="fa fa-calendar"></i> 2013, Week 3</span>
      <ul>
        <li>
          <span class="tree-node label label-success"><i class="fa fa-minus"></i> Monday, January 14: 8.00 hours</span>
          <ul>
            <li>
              <span class="tree-node label label-default"><i class="fa fa-clock-o"></i> 7.75</span> &ndash; <a href="#">Writing documentation...</a>
            </li>
            <li>
              <span class="tree-node label label-default"><i class="fa fa-clock-o"></i> 0.25</span> &ndash; <a href="#">Reverting code back to...</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>