@font-face {
  font-family: 'icomoon';
  src:font-url('icomoon/icomoon.eot?ntbba6');
  src:font-url('icomoon/icomoon.eot?#iefixntbba6') format('embedded-opentype'),
      font-url('icomoon/icomoon.woff?ntbba6') format('woff'),
      font-url('icomoon/icomoon.ttf?ntbba6') format('truetype'),
      font-url('icomoon/icomoon.svg?ntbba6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icm {
  font-size: 16px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.icm-2x {
    font-size: 32px;
  }

  &.icm-3x {
    font-size: 48px;
  }

  &.icm-4x {
    font-size: 64px;
  }

  + span {
    vertical-align: middle;
  }
}

.icm-home:before { content: "\e000"; }
.icm-home2:before { content: "\e001"; }
.icm-home3:before { content: "\e002"; }
.icm-home4:before { content: "\e003"; }
.icm-home5:before { content: "\e004"; }
.icm-home6:before { content: "\e005"; }
.icm-home7:before { content: "\e006"; }
.icm-home8:before { content: "\e007"; }
.icm-home9:before { content: "\e008"; }
.icm-home10:before { content: "\e009"; }
.icm-home11:before { content: "\e00a"; }
.icm-office:before { content: "\e00b"; }
.icm-newspaper:before { content: "\e00c"; }
.icm-pencil:before { content: "\e00d"; }
.icm-pencil2:before { content: "\e00e"; }
.icm-pencil3:before { content: "\e00f"; }
.icm-pencil4:before { content: "\e010"; }
.icm-pencil5:before { content: "\e011"; }
.icm-pencil6:before { content: "\e012"; }
.icm-quill:before { content: "\e013"; }
.icm-quill2:before { content: "\e014"; }
.icm-quill3:before { content: "\e015"; }
.icm-pen:before { content: "\e016"; }
.icm-pen2:before { content: "\e017"; }
.icm-pen3:before { content: "\e018"; }
.icm-pen4:before { content: "\e019"; }
.icm-pen5:before { content: "\e01a"; }
.icm-marker:before { content: "\e01b"; }
.icm-home12:before { content: "\e01c"; }
.icm-marker2:before { content: "\e01d"; }
.icm-blog:before { content: "\e01e"; }
.icm-blog2:before { content: "\e01f"; }
.icm-brush:before { content: "\e020"; }
.icm-palette:before { content: "\e021"; }
.icm-palette2:before { content: "\e022"; }
.icm-eyedropper:before { content: "\e023"; }
.icm-eyedropper2:before { content: "\e024"; }
.icm-droplet:before { content: "\e025"; }
.icm-droplet2:before { content: "\e026"; }
.icm-droplet3:before { content: "\e027"; }
.icm-droplet4:before { content: "\e028"; }
.icm-paint-format:before { content: "\e029"; }
.icm-paint-format2:before { content: "\e02a"; }
.icm-image:before { content: "\e02b"; }
.icm-image2:before { content: "\e02c"; }
.icm-image3:before { content: "\e02d"; }
.icm-images:before { content: "\e02e"; }
.icm-image4:before { content: "\e02f"; }
.icm-image5:before { content: "\e030"; }
.icm-image6:before { content: "\e031"; }
.icm-images2:before { content: "\e032"; }
.icm-image7:before { content: "\e033"; }
.icm-camera:before { content: "\e034"; }
.icm-camera2:before { content: "\e035"; }
.icm-camera3:before { content: "\e036"; }
.icm-camera4:before { content: "\e037"; }
.icm-music:before { content: "\e038"; }
.icm-music2:before { content: "\e039"; }
.icm-music3:before { content: "\e03a"; }
.icm-music4:before { content: "\e03b"; }
.icm-music5:before { content: "\e03c"; }
.icm-music6:before { content: "\e03d"; }
.icm-piano:before { content: "\e03e"; }
.icm-guitar:before { content: "\e03f"; }
.icm-headphones:before { content: "\e040"; }
.icm-headphones2:before { content: "\e041"; }
.icm-play:before { content: "\e042"; }
.icm-play2:before { content: "\e043"; }
.icm-movie:before { content: "\e044"; }
.icm-movie2:before { content: "\e045"; }
.icm-movie3:before { content: "\e046"; }
.icm-film:before { content: "\e047"; }
.icm-film2:before { content: "\e048"; }
.icm-film3:before { content: "\e049"; }
.icm-film4:before { content: "\e04a"; }
.icm-camera5:before { content: "\e04b"; }
.icm-camera6:before { content: "\e04c"; }
.icm-camera7:before { content: "\e04d"; }
.icm-camera8:before { content: "\e04e"; }
.icm-camera9:before { content: "\e04f"; }
.icm-dice:before { content: "\e050"; }
.icm-gamepad:before { content: "\e051"; }
.icm-gamepad2:before { content: "\e052"; }
.icm-gamepad3:before { content: "\e053"; }
.icm-pacman:before { content: "\e054"; }
.icm-spades:before { content: "\e055"; }
.icm-clubs:before { content: "\e056"; }
.icm-diamonds:before { content: "\e057"; }
.icm-king:before { content: "\e058"; }
.icm-queen:before { content: "\e059"; }
.icm-rock:before { content: "\e05a"; }
.icm-bishop:before { content: "\e05b"; }
.icm-knight:before { content: "\e05c"; }
.icm-pawn:before { content: "\e05d"; }
.icm-chess:before { content: "\e05e"; }
.icm-bullhorn:before { content: "\e05f"; }
.icm-megaphone:before { content: "\e060"; }
.icm-new:before { content: "\e061"; }
.icm-connection:before { content: "\e062"; }
.icm-connection2:before { content: "\e063"; }
.icm-podcast:before { content: "\e064"; }
.icm-radio:before { content: "\e065"; }
.icm-feed:before { content: "\e066"; }
.icm-connection3:before { content: "\e067"; }
.icm-radio2:before { content: "\e068"; }
.icm-podcast2:before { content: "\e069"; }
.icm-podcast3:before { content: "\e06a"; }
.icm-mic:before { content: "\e06b"; }
.icm-mic2:before { content: "\e06c"; }
.icm-mic3:before { content: "\e06d"; }
.icm-mic4:before { content: "\e06e"; }
.icm-mic5:before { content: "\e06f"; }
.icm-book:before { content: "\e070"; }
.icm-book2:before { content: "\e071"; }
.icm-books:before { content: "\e072"; }
.icm-reading:before { content: "\e073"; }
.icm-library:before { content: "\e074"; }
.icm-library2:before { content: "\e075"; }
.icm-graduation:before { content: "\e076"; }
.icm-file:before { content: "\e077"; }
.icm-profile:before { content: "\e078"; }
.icm-file2:before { content: "\e079"; }
.icm-file3:before { content: "\e07a"; }
.icm-file4:before { content: "\e07b"; }
.icm-file5:before { content: "\e07c"; }
.icm-file6:before { content: "\e07d"; }
.icm-files:before { content: "\e07e"; }
.icm-file-plus:before { content: "\e07f"; }
.icm-file-minus:before { content: "\e080"; }
.icm-file-download:before { content: "\e081"; }
.icm-file-upload:before { content: "\e082"; }
.icm-file-check:before { content: "\e083"; }
.icm-file-remove:before { content: "\e084"; }
.icm-file7:before { content: "\e085"; }
.icm-file8:before { content: "\e086"; }
.icm-file-plus2:before { content: "\e087"; }
.icm-file-minus2:before { content: "\e088"; }
.icm-file-download2:before { content: "\e089"; }
.icm-file-upload2:before { content: "\e08a"; }
.icm-file-check2:before { content: "\e08b"; }
.icm-file-remove2:before { content: "\e08c"; }
.icm-file9:before { content: "\e08d"; }
.icm-copy:before { content: "\e08e"; }
.icm-copy2:before { content: "\e08f"; }
.icm-copy3:before { content: "\e090"; }
.icm-copy4:before { content: "\e091"; }
.icm-paste:before { content: "\e092"; }
.icm-paste2:before { content: "\e093"; }
.icm-paste3:before { content: "\e094"; }
.icm-stack:before { content: "\e095"; }
.icm-stack2:before { content: "\e096"; }
.icm-stack3:before { content: "\e097"; }
.icm-folder:before { content: "\e098"; }
.icm-folder-download:before { content: "\e099"; }
.icm-folder-upload:before { content: "\e09a"; }
.icm-folder-plus:before { content: "\e09b"; }
.icm-folder-plus2:before { content: "\e09c"; }
.icm-folder-minus:before { content: "\e09d"; }
.icm-folder-minus2:before { content: "\e09e"; }
.icm-folder8:before { content: "\e09f"; }
.icm-folder-remove:before { content: "\e0a0"; }
.icm-folder2:before { content: "\e0a1"; }
.icm-folder-open:before { content: "\e0a2"; }
.icm-folder3:before { content: "\e0a3"; }
.icm-folder4:before { content: "\e0a4"; }
.icm-folder-plus3:before { content: "\e0a5"; }
.icm-folder-minus3:before { content: "\e0a6"; }
.icm-folder-plus4:before { content: "\e0a7"; }
.icm-folder-remove2:before { content: "\e0a8"; }
.icm-folder-download2:before { content: "\e0a9"; }
.icm-folder-upload2:before { content: "\e0aa"; }
.icm-folder-download3:before { content: "\e0ab"; }
.icm-folder-upload3:before { content: "\e0ac"; }
.icm-folder5:before { content: "\e0ad"; }
.icm-folder-open2:before { content: "\e0ae"; }
.icm-folder6:before { content: "\e0af"; }
.icm-folder-open3:before { content: "\e0b0"; }
.icm-certificate:before { content: "\e0b1"; }
.icm-cc:before { content: "\e0b2"; }
.icm-tag:before { content: "\e0b3"; }
.icm-tag2:before { content: "\e0b4"; }
.icm-tag3:before { content: "\e0b5"; }
.icm-tag4:before { content: "\e0b6"; }
.icm-tag5:before { content: "\e0b7"; }
.icm-tag6:before { content: "\e0b8"; }
.icm-tag7:before { content: "\e0b9"; }
.icm-tags:before { content: "\e0ba"; }
.icm-tags2:before { content: "\e0bb"; }
.icm-tag8:before { content: "\e0bc"; }
.icm-barcode:before { content: "\e0bd"; }
.icm-barcode2:before { content: "\e0be"; }
.icm-qrcode:before { content: "\e0bf"; }
.icm-ticket:before { content: "\e0c0"; }
.icm-cart:before { content: "\e0c1"; }
.icm-cart2:before { content: "\e0c2"; }
.icm-cart3:before { content: "\e0c3"; }
.icm-cart4:before { content: "\e0c4"; }
.icm-cart5:before { content: "\e0c5"; }
.icm-cart6:before { content: "\e0c6"; }
.icm-cart7:before { content: "\e0c7"; }
.icm-cart-plus:before { content: "\e0c8"; }
.icm-cart-minus:before { content: "\e0c9"; }
.icm-cart-add:before { content: "\e0ca"; }
.icm-cart-remove:before { content: "\e0cb"; }
.icm-cart-checkout:before { content: "\e0cc"; }
.icm-cart-remove2:before { content: "\e0cd"; }
.icm-basket:before { content: "\e0ce"; }
.icm-basket2:before { content: "\e0cf"; }
.icm-bag:before { content: "\e0d0"; }
.icm-bag2:before { content: "\e0d1"; }
.icm-bag3:before { content: "\e0d2"; }
.icm-coin:before { content: "\e0d3"; }
.icm-coins:before { content: "\e0d4"; }
.icm-credit:before { content: "\e0d5"; }
.icm-credit2:before { content: "\e0d6"; }
.icm-calculate:before { content: "\e0d7"; }
.icm-calculate2:before { content: "\e0d8"; }
.icm-support:before { content: "\e0d9"; }
.icm-phone:before { content: "\e0da"; }
.icm-phone2:before { content: "\e0db"; }
.icm-phone3:before { content: "\e0dc"; }
.icm-phone4:before { content: "\e0dd"; }
.icm-contact-add:before { content: "\e0de"; }
.icm-contact-remove:before { content: "\e0df"; }
.icm-contact-add2:before { content: "\e0e0"; }
.icm-contact-remove2:before { content: "\e0e1"; }
.icm-call-incoming:before { content: "\e0e2"; }
.icm-call-outgoing:before { content: "\e0e3"; }
.icm-phone5:before { content: "\e0e4"; }
.icm-phone6:before { content: "\e0e5"; }
.icm-phone-hang-up:before { content: "\e0e6"; }
.icm-phone-hang-up2:before { content: "\e0e7"; }
.icm-address-book:before { content: "\e0e8"; }
.icm-address-book2:before { content: "\e0e9"; }
.icm-notebook:before { content: "\e0ea"; }
.icm-envelope:before { content: "\e0eb"; }
.icm-envelope2:before { content: "\e0ec"; }
.icm-mail-send:before { content: "\e0ed"; }
.icm-envelope-opened:before { content: "\e0ee"; }
.icm-envelope3:before { content: "\e0ef"; }
.icm-pushpin:before { content: "\e0f0"; }
.icm-location:before { content: "\e0f1"; }
.icm-location2:before { content: "\e0f2"; }
.icm-location3:before { content: "\e0f3"; }
.icm-location4:before { content: "\e0f4"; }
.icm-location5:before { content: "\e0f5"; }
.icm-location6:before { content: "\e0f6"; }
.icm-location7:before { content: "\e0f7"; }
.icm-compass:before { content: "\e0f8"; }
.icm-compass2:before { content: "\e0f9"; }
.icm-map:before { content: "\e0fa"; }
.icm-map2:before { content: "\e0fb"; }
.icm-map3:before { content: "\e0fc"; }
.icm-map4:before { content: "\e0fd"; }
.icm-direction:before { content: "\e0fe"; }
.icm-history:before { content: "\e0ff"; }
.icm-history2:before { content: "\e100"; }
.icm-clock:before { content: "\e101"; }
.icm-clock2:before { content: "\e102"; }
.icm-clock3:before { content: "\e103"; }
.icm-clock4:before { content: "\e104"; }
.icm-watch:before { content: "\e105"; }
.icm-clock5:before { content: "\e106"; }
.icm-clock6:before { content: "\e107"; }
.icm-clock7:before { content: "\e108"; }
.icm-alarm:before { content: "\e109"; }
.icm-alarm2:before { content: "\e10a"; }
.icm-bell:before { content: "\e10b"; }
.icm-bell2:before { content: "\e10c"; }
.icm-alarm-plus:before { content: "\e10d"; }
.icm-alarm-minus:before { content: "\e10e"; }
.icm-alarm-check:before { content: "\e10f"; }
.icm-alarm-cancel:before { content: "\e110"; }
.icm-stopwatch:before { content: "\e111"; }
.icm-calendar:before { content: "\e112"; }
.icm-calendar2:before { content: "\e113"; }
.icm-calendar3:before { content: "\e114"; }
.icm-calendar4:before { content: "\e115"; }
.icm-calendar5:before { content: "\e116"; }
.icm-print:before { content: "\e117"; }
.icm-print2:before { content: "\e118"; }
.icm-print3:before { content: "\e119"; }
.icm-mouse:before { content: "\e11a"; }
.icm-mouse2:before { content: "\e11b"; }
.icm-mouse3:before { content: "\e11c"; }
.icm-mouse4:before { content: "\e11d"; }
.icm-keyboard:before { content: "\e11e"; }
.icm-keyboard2:before { content: "\e11f"; }
.icm-screen:before { content: "\e120"; }
.icm-screen2:before { content: "\e121"; }
.icm-screen3:before { content: "\e122"; }
.icm-screen4:before { content: "\e123"; }
.icm-laptop:before { content: "\e124"; }
.icm-mobile:before { content: "\e125"; }
.icm-mobile2:before { content: "\e126"; }
.icm-tablet:before { content: "\e127"; }
.icm-mobile3:before { content: "\e128"; }
.icm-tv:before { content: "\e129"; }
.icm-cabinet:before { content: "\e12a"; }
.icm-archive:before { content: "\e12b"; }
.icm-drawer:before { content: "\e12c"; }
.icm-drawer2:before { content: "\e12d"; }
.icm-drawer3:before { content: "\e12e"; }
.icm-box:before { content: "\e12f"; }
.icm-box-add:before { content: "\e130"; }
.icm-box-remove:before { content: "\e131"; }
.icm-download:before { content: "\e132"; }
.icm-upload:before { content: "\e133"; }
.icm-disk:before { content: "\e134"; }
.icm-cd:before { content: "\e135"; }
.icm-storage:before { content: "\e136"; }
.icm-storage2:before { content: "\e137"; }
.icm-database:before { content: "\e138"; }
.icm-database2:before { content: "\e139"; }
.icm-database3:before { content: "\e13a"; }
.icm-undo:before { content: "\e13b"; }
.icm-redo:before { content: "\e13c"; }
.icm-rotate:before { content: "\e13d"; }
.icm-rotate2:before { content: "\e13e"; }
.icm-flip:before { content: "\e13f"; }
.icm-flip2:before { content: "\e140"; }
.icm-unite:before { content: "\e141"; }
.icm-subtract:before { content: "\e142"; }
.icm-interset:before { content: "\e143"; }
.icm-exclude:before { content: "\e144"; }
.icm-align-left:before { content: "\e145"; }
.icm-align-center-horizontal:before { content: "\e146"; }
.icm-align-right:before { content: "\e147"; }
.icm-align-top:before { content: "\e148"; }
.icm-align-center-vertical:before { content: "\e149"; }
.icm-align-bottom:before { content: "\e14a"; }
.icm-undo2:before { content: "\e14b"; }
.icm-redo2:before { content: "\e14c"; }
.icm-forward:before { content: "\e14d"; }
.icm-reply:before { content: "\e14e"; }
.icm-reply2:before { content: "\e14f"; }
.icm-bubble:before { content: "\e150"; }
.icm-bubbles:before { content: "\e151"; }
.icm-bubbles2:before { content: "\e152"; }
.icm-bubble2:before { content: "\e153"; }
.icm-bubbles3:before { content: "\e154"; }
.icm-bubbles4:before { content: "\e155"; }
.icm-bubble-notification:before { content: "\e156"; }
.icm-bubbles5:before { content: "\e157"; }
.icm-bubbles6:before { content: "\e158"; }
.icm-bubble3:before { content: "\e159"; }
.icm-bubble-dots:before { content: "\e15a"; }
.icm-bubble4:before { content: "\e15b"; }
.icm-bubble5:before { content: "\e15c"; }
.icm-bubble-dots2:before { content: "\e15d"; }
.icm-bubble6:before { content: "\e15e"; }
.icm-bubble7:before { content: "\e15f"; }
.icm-bubble8:before { content: "\e160"; }
.icm-bubbles7:before { content: "\e161"; }
.icm-bubble9:before { content: "\e162"; }
.icm-bubbles8:before { content: "\e163"; }
.icm-bubble10:before { content: "\e164"; }
.icm-bubble-dots3:before { content: "\e165"; }
.icm-bubble11:before { content: "\e166"; }
.icm-bubble12:before { content: "\e167"; }
.icm-bubble-dots4:before { content: "\e168"; }
.icm-bubble13:before { content: "\e169"; }
.icm-bubbles9:before { content: "\e16a"; }
.icm-bubbles10:before { content: "\e16b"; }
.icm-bubble-blocked:before { content: "\e16c"; }
.icm-bubble-quote:before { content: "\e16d"; }
.icm-bubble-user:before { content: "\e16e"; }
.icm-bubble-check:before { content: "\e16f"; }
.icm-bubble-video-chat:before { content: "\e170"; }
.icm-bubble-link:before { content: "\e171"; }
.icm-bubble-locked:before { content: "\e172"; }
.icm-bubble-star:before { content: "\e173"; }
.icm-bubble-heart:before { content: "\e174"; }
.icm-bubble-paperclip:before { content: "\e175"; }
.icm-bubble-cancel:before { content: "\e176"; }
.icm-bubble-plus:before { content: "\e177"; }
.icm-bubble-minus:before { content: "\e178"; }
.icm-bubble-notification2:before { content: "\e179"; }
.icm-bubble-trash:before { content: "\e17a"; }
.icm-bubble-left:before { content: "\e17b"; }
.icm-bubble-right:before { content: "\e17c"; }
.icm-bubble-up:before { content: "\e17d"; }
.icm-bubble-down:before { content: "\e17e"; }
.icm-bubble-first:before { content: "\e17f"; }
.icm-bubble-last:before { content: "\e180"; }
.icm-bubble-replu:before { content: "\e181"; }
.icm-bubble-forward:before { content: "\e182"; }
.icm-bubble-reply:before { content: "\e183"; }
.icm-bubble-forward2:before { content: "\e184"; }
.icm-user:before { content: "\e185"; }
.icm-users:before { content: "\e186"; }
.icm-user-plus:before { content: "\e187"; }
.icm-user-plus2:before { content: "\e188"; }
.icm-user-minus:before { content: "\e189"; }
.icm-user-minus2:before { content: "\e18a"; }
.icm-user-cancel:before { content: "\e18b"; }
.icm-user-block:before { content: "\e18c"; }
.icm-users2:before { content: "\e18d"; }
.icm-user2:before { content: "\e18e"; }
.icm-users3:before { content: "\e18f"; }
.icm-user-plus3:before { content: "\e190"; }
.icm-user-minus3:before { content: "\e191"; }
.icm-user-cancel2:before { content: "\e192"; }
.icm-user-block2:before { content: "\e193"; }
.icm-user3:before { content: "\e194"; }
.icm-user4:before { content: "\e195"; }
.icm-user5:before { content: "\e196"; }
.icm-user6:before { content: "\e197"; }
.icm-users4:before { content: "\e198"; }
.icm-user7:before { content: "\e199"; }
.icm-user8:before { content: "\e19a"; }
.icm-users5:before { content: "\e19b"; }
.icm-vcard:before { content: "\e19c"; }
.icm-tshirt:before { content: "\e19d"; }
.icm-hanger:before { content: "\e19e"; }
.icm-quotes-left:before { content: "\e19f"; }
.icm-quotes-right:before { content: "\e1a0"; }
.icm-quotes-right2:before { content: "\e1a1"; }
.icm-quotes-right3:before { content: "\e1a2"; }
.icm-busy:before { content: "\e1a3"; }
.icm-busy2:before { content: "\e1a4"; }
.icm-busy3:before { content: "\e1a5"; }
.icm-busy4:before { content: "\e1a6"; }
.icm-spinner:before { content: "\e1a7"; }
.icm-spinner2:before { content: "\e1a8"; }
.icm-spinner3:before { content: "\e1a9"; }
.icm-spinner4:before { content: "\e1aa"; }
.icm-spinner5:before { content: "\e1ab"; }
.icm-spinner6:before { content: "\e1ac"; }
.icm-spinner7:before { content: "\e1ad"; }
.icm-spinner8:before { content: "\e1ae"; }
.icm-spinner9:before { content: "\e1af"; }
.icm-spinner10:before { content: "\e1b0"; }
.icm-spinner11:before { content: "\e1b1"; }
.icm-spinner12:before { content: "\e1b2"; }
.icm-microscope:before { content: "\e1b3"; }
.icm-binoculars:before { content: "\e1b4"; }
.icm-binoculars2:before { content: "\e1b5"; }
.icm-search:before { content: "\e1b6"; }
.icm-search2:before { content: "\e1b7"; }
.icm-zoomin:before { content: "\e1b8"; }
.icm-zoomout:before { content: "\e1b9"; }
.icm-search3:before { content: "\e1ba"; }
.icm-search4:before { content: "\e1bb"; }
.icm-zoomin2:before { content: "\e1bc"; }
.icm-zoomout2:before { content: "\e1bd"; }
.icm-search5:before { content: "\e1be"; }
.icm-expand:before { content: "\e1bf"; }
.icm-contract:before { content: "\e1c0"; }
.icm-scale-up:before { content: "\e1c1"; }
.icm-scale-down:before { content: "\e1c2"; }
.icm-expand2:before { content: "\e1c3"; }
.icm-contract2:before { content: "\e1c4"; }
.icm-scale-up2:before { content: "\e1c5"; }
.icm-scale-down2:before { content: "\e1c6"; }
.icm-fullscreen:before { content: "\e1c7"; }
.icm-expand3:before { content: "\e1c8"; }
.icm-contract3:before { content: "\e1c9"; }
.icm-key:before { content: "\e1ca"; }
.icm-key2:before { content: "\e1cb"; }
.icm-key3:before { content: "\e1cc"; }
.icm-key4:before { content: "\e1cd"; }
.icm-key5:before { content: "\e1ce"; }
.icm-keyhole:before { content: "\e1cf"; }
.icm-lock:before { content: "\e1d0"; }
.icm-lock2:before { content: "\e1d1"; }
.icm-lock3:before { content: "\e1d2"; }
.icm-lock4:before { content: "\e1d3"; }
.icm-unlocked:before { content: "\e1d4"; }
.icm-lock5:before { content: "\e1d5"; }
.icm-unlocked2:before { content: "\e1d6"; }
.icm-wrench:before { content: "\e1d7"; }
.icm-wrench2:before { content: "\e1d8"; }
.icm-wrench3:before { content: "\e1d9"; }
.icm-wrench4:before { content: "\e1da"; }
.icm-settings:before { content: "\e1db"; }
.icm-equalizer:before { content: "\e1dc"; }
.icm-equalizer2:before { content: "\e1dd"; }
.icm-equalizer3:before { content: "\e1de"; }
.icm-cog:before { content: "\e1df"; }
.icm-cogs:before { content: "\e1e0"; }
.icm-cog2:before { content: "\e1e1"; }
.icm-cog3:before { content: "\e1e2"; }
.icm-cog4:before { content: "\e1e3"; }
.icm-cog5:before { content: "\e1e4"; }
.icm-cog6:before { content: "\e1e5"; }
.icm-cog7:before { content: "\e1e6"; }
.icm-factory:before { content: "\e1e7"; }
.icm-hammer:before { content: "\e1e8"; }
.icm-tools:before { content: "\e1e9"; }
.icm-screwdriver:before { content: "\e1ea"; }
.icm-screwdriver2:before { content: "\e1eb"; }
.icm-wand:before { content: "\e1ec"; }
.icm-wand2:before { content: "\e1ed"; }
.icm-health:before { content: "\e1ee"; }
.icm-aid:before { content: "\e1ef"; }
.icm-patch:before { content: "\e1f0"; }
.icm-bug:before { content: "\e1f1"; }
.icm-bug2:before { content: "\e1f2"; }
.icm-inject:before { content: "\e1f3"; }
.icm-inject2:before { content: "\e1f4"; }
.icm-construction:before { content: "\e1f5"; }
.icm-cone:before { content: "\e1f6"; }
.icm-pie:before { content: "\e1f7"; }
.icm-pie2:before { content: "\e1f8"; }
.icm-pie3:before { content: "\e1f9"; }
.icm-pie4:before { content: "\e1fa"; }
.icm-pie5:before { content: "\e1fb"; }
.icm-pie6:before { content: "\e1fc"; }
.icm-pie7:before { content: "\e1fd"; }
.icm-stats:before { content: "\e1fe"; }
.icm-stats2:before { content: "\e1ff"; }
.icm-stats3:before { content: "\e200"; }
.icm-bars:before { content: "\e201"; }
.icm-bars2:before { content: "\e202"; }
.icm-bars3:before { content: "\e203"; }
.icm-bars4:before { content: "\e204"; }
.icm-bars5:before { content: "\e205"; }
.icm-bars6:before { content: "\e206"; }
.icm-stats-up:before { content: "\e207"; }
.icm-stats-down:before { content: "\e208"; }
.icm-stairs-down:before { content: "\e209"; }
.icm-stairs-down2:before { content: "\e20a"; }
.icm-chart:before { content: "\e20b"; }
.icm-stairs:before { content: "\e20c"; }
.icm-stairs2:before { content: "\e20d"; }
.icm-ladder:before { content: "\e20e"; }
.icm-cake:before { content: "\e20f"; }
.icm-gift:before { content: "\e210"; }
.icm-gift2:before { content: "\e211"; }
.icm-balloon:before { content: "\e212"; }
.icm-rating:before { content: "\e213"; }
.icm-rating2:before { content: "\e214"; }
.icm-rating3:before { content: "\e215"; }
.icm-podium:before { content: "\e216"; }
.icm-medal:before { content: "\e217"; }
.icm-medal2:before { content: "\e218"; }
.icm-medal3:before { content: "\e219"; }
.icm-medal4:before { content: "\e21a"; }
.icm-medal5:before { content: "\e21b"; }
.icm-crown:before { content: "\e21c"; }
.icm-trophy:before { content: "\e21d"; }
.icm-trophy2:before { content: "\e21e"; }
.icm-trophy-star:before { content: "\e21f"; }
.icm-diamond:before { content: "\e220"; }
.icm-diamond2:before { content: "\e221"; }
.icm-glass:before { content: "\e222"; }
.icm-glass2:before { content: "\e223"; }
.icm-bottle:before { content: "\e224"; }
.icm-bottle2:before { content: "\e225"; }
.icm-mug:before { content: "\e226"; }
.icm-food:before { content: "\e227"; }
.icm-food2:before { content: "\e228"; }
.icm-hamburger:before { content: "\e229"; }
.icm-cup:before { content: "\e22a"; }
.icm-cup2:before { content: "\e22b"; }
.icm-leaf:before { content: "\e22c"; }
.icm-leaf2:before { content: "\e22d"; }
.icm-apple-fruit:before { content: "\e22e"; }
.icm-tree:before { content: "\e22f"; }
.icm-tree2:before { content: "\e230"; }
.icm-paw:before { content: "\e231"; }
.icm-steps:before { content: "\e232"; }
.icm-flower:before { content: "\e233"; }
.icm-rocket:before { content: "\e234"; }
.icm-meter:before { content: "\e235"; }
.icm-meter2:before { content: "\e236"; }
.icm-meter-slow:before { content: "\e237"; }
.icm-meter-medium:before { content: "\e238"; }
.icm-meter-fast:before { content: "\e239"; }
.icm-dashboard:before { content: "\e23a"; }
.icm-hammer2:before { content: "\e23b"; }
.icm-balance:before { content: "\e23c"; }
.icm-bomb:before { content: "\e23d"; }
.icm-fire:before { content: "\e23e"; }
.icm-fire2:before { content: "\e23f"; }
.icm-lab:before { content: "\e240"; }
.icm-atom:before { content: "\e241"; }
.icm-atom2:before { content: "\e242"; }
.icm-magnet:before { content: "\e243"; }
.icm-magnet2:before { content: "\e244"; }
.icm-magnet3:before { content: "\e245"; }
.icm-magnet4:before { content: "\e246"; }
.icm-dumbbell:before { content: "\e247"; }
.icm-skull:before { content: "\e248"; }
.icm-skull2:before { content: "\e249"; }
.icm-skull3:before { content: "\e24a"; }
.icm-lamp:before { content: "\e24b"; }
.icm-lamp2:before { content: "\e24c"; }
.icm-lamp3:before { content: "\e24d"; }
.icm-lamp4:before { content: "\e24e"; }
.icm-remove:before { content: "\e24f"; }
.icm-remove2:before { content: "\e250"; }
.icm-remove3:before { content: "\e251"; }
.icm-remove4:before { content: "\e252"; }
.icm-remove5:before { content: "\e253"; }
.icm-remove6:before { content: "\e254"; }
.icm-remove7:before { content: "\e255"; }
.icm-remove8:before { content: "\e256"; }
.icm-briefcase:before { content: "\e257"; }
.icm-briefcase2:before { content: "\e258"; }
.icm-briefcase3:before { content: "\e259"; }
.icm-airplane:before { content: "\e25a"; }
.icm-airplane2:before { content: "\e25b"; }
.icm-paperplane:before { content: "\e25c"; }
.icm-car:before { content: "\e25d"; }
.icm-gas-pump:before { content: "\e25e"; }
.icm-bus:before { content: "\e25f"; }
.icm-truck:before { content: "\e260"; }
.icm-bike:before { content: "\e261"; }
.icm-road:before { content: "\e262"; }
.icm-train:before { content: "\e263"; }
.icm-ship:before { content: "\e264"; }
.icm-boat:before { content: "\e265"; }
.icm-cube:before { content: "\e266"; }
.icm-cube2:before { content: "\e267"; }
.icm-cube3:before { content: "\e268"; }
.icm-cube4:before { content: "\e269"; }
.icm-pyramid:before { content: "\e26a"; }
.icm-pyramid2:before { content: "\e26b"; }
.icm-cylinder:before { content: "\e26c"; }
.icm-package:before { content: "\e26d"; }
.icm-puzzle:before { content: "\e26e"; }
.icm-puzzle2:before { content: "\e26f"; }
.icm-puzzle3:before { content: "\e270"; }
.icm-puzzle4:before { content: "\e271"; }
.icm-glasses:before { content: "\e272"; }
.icm-glasses2:before { content: "\e273"; }
.icm-glasses3:before { content: "\e274"; }
.icm-sunglasses:before { content: "\e275"; }
.icm-accessibility:before { content: "\e276"; }
.icm-accessibility2:before { content: "\e277"; }
.icm-brain:before { content: "\e278"; }
.icm-target:before { content: "\e279"; }
.icm-target2:before { content: "\e27a"; }
.icm-target3:before { content: "\e27b"; }
.icm-gun:before { content: "\e27c"; }
.icm-gun-ban:before { content: "\e27d"; }
.icm-shield:before { content: "\e27e"; }
.icm-shield2:before { content: "\e27f"; }
.icm-shield3:before { content: "\e280"; }
.icm-shield4:before { content: "\e281"; }
.icm-soccer:before { content: "\e282"; }
.icm-football:before { content: "\e283"; }
.icm-baseball:before { content: "\e284"; }
.icm-basketball:before { content: "\e285"; }
.icm-golf:before { content: "\e286"; }
.icm-hockey:before { content: "\e287"; }
.icm-racing:before { content: "\e288"; }
.icm-eightball:before { content: "\e289"; }
.icm-bowlingball:before { content: "\e28a"; }
.icm-bowling:before { content: "\e28b"; }
.icm-bowling2:before { content: "\e28c"; }
.icm-lightning:before { content: "\e28d"; }
.icm-power:before { content: "\e28e"; }
.icm-power2:before { content: "\e28f"; }
.icm-switch:before { content: "\e290"; }
.icm-powercord:before { content: "\e291"; }
.icm-cord:before { content: "\e292"; }
.icm-socket:before { content: "\e293"; }
.icm-clipboard:before { content: "\e294"; }
.icm-clipboard2:before { content: "\e295"; }
.icm-signup:before { content: "\e296"; }
.icm-clipboard3:before { content: "\e297"; }
.icm-clipboard4:before { content: "\e298"; }
.icm-list:before { content: "\e299"; }
.icm-list2:before { content: "\e29a"; }
.icm-list3:before { content: "\e29b"; }
.icm-numbered-list:before { content: "\e29c"; }
.icm-list4:before { content: "\e29d"; }
.icm-list5:before { content: "\e29e"; }
.icm-playlist:before { content: "\e29f"; }
.icm-grid:before { content: "\e2a0"; }
.icm-grid2:before { content: "\e2a1"; }
.icm-grid3:before { content: "\e2a2"; }
.icm-grid4:before { content: "\e2a3"; }
.icm-grid5:before { content: "\e2a4"; }
.icm-grid6:before { content: "\e2a5"; }
.icm-tree3:before { content: "\e2a6"; }
.icm-tree4:before { content: "\e2a7"; }
.icm-tree5:before { content: "\e2a8"; }
.icm-menu:before { content: "\e2a9"; }
.icm-menu2:before { content: "\e2aa"; }
.icm-circle-small:before { content: "\e2ab"; }
.icm-menu3:before { content: "\e2ac"; }
.icm-menu4:before { content: "\e2ad"; }
.icm-menu5:before { content: "\e2ae"; }
.icm-menu6:before { content: "\e2af"; }
.icm-menu7:before { content: "\e2b0"; }
.icm-menu8:before { content: "\e2b1"; }
.icm-menu9:before { content: "\e2b2"; }
.icm-cloud:before { content: "\e2b3"; }
.icm-cloud2:before { content: "\e2b4"; }
.icm-cloud3:before { content: "\e2b5"; }
.icm-cloud-download:before { content: "\e2b6"; }
.icm-cloud-upload:before { content: "\e2b7"; }
.icm-download2:before { content: "\e2b8"; }
.icm-upload2:before { content: "\e2b9"; }
.icm-download3:before { content: "\e2ba"; }
.icm-upload3:before { content: "\e2bb"; }
.icm-download4:before { content: "\e2bc"; }
.icm-upload4:before { content: "\e2bd"; }
.icm-download5:before { content: "\e2be"; }
.icm-upload5:before { content: "\e2bf"; }
.icm-download6:before { content: "\e2c0"; }
.icm-upload6:before { content: "\e2c1"; }
.icm-download7:before { content: "\e2c2"; }
.icm-upload7:before { content: "\e2c3"; }
.icm-globe:before { content: "\e2c4"; }
.icm-globe2:before { content: "\e2c5"; }
.icm-globe3:before { content: "\e2c6"; }
.icm-earth:before { content: "\e2c7"; }
.icm-network:before { content: "\e2c8"; }
.icm-link:before { content: "\e2c9"; }
.icm-link2:before { content: "\e2ca"; }
.icm-link3:before { content: "\e2cb"; }
.icm-link22:before { content: "\e2cc"; }
.icm-link4:before { content: "\e2cd"; }
.icm-link5:before { content: "\e2ce"; }
.icm-link6:before { content: "\e2cf"; }
.icm-anchor:before { content: "\e2d0"; }
.icm-flag:before { content: "\e2d1"; }
.icm-flag2:before { content: "\e2d2"; }
.icm-flag3:before { content: "\e2d3"; }
.icm-flag4:before { content: "\e2d4"; }
.icm-flag5:before { content: "\e2d5"; }
.icm-flag6:before { content: "\e2d6"; }
.icm-attachment:before { content: "\e2d7"; }
.icm-attachment2:before { content: "\e2d8"; }
.icm-eye:before { content: "\e2d9"; }
.icm-eye-blocked:before { content: "\e2da"; }
.icm-eye2:before { content: "\e2db"; }
.icm-eye3:before { content: "\e2dc"; }
.icm-eye-blocked2:before { content: "\e2dd"; }
.icm-eye4:before { content: "\e2de"; }
.icm-eye5:before { content: "\e2df"; }
.icm-eye6:before { content: "\e2e0"; }
.icm-eye7:before { content: "\e2e1"; }
.icm-eye8:before { content: "\e2e2"; }
.icm-bookmark:before { content: "\e2e3"; }
.icm-bookmark2:before { content: "\e2e4"; }
.icm-bookmarks:before { content: "\e2e5"; }
.icm-bookmark3:before { content: "\e2e6"; }
.icm-spotlight:before { content: "\e2e7"; }
.icm-starburst:before { content: "\e2e8"; }
.icm-snowflake:before { content: "\e2e9"; }
.icm-temperature:before { content: "\e2ea"; }
.icm-temperature2:before { content: "\e2eb"; }
.icm-weather-lightning:before { content: "\e2ec"; }
.icm-weather-rain:before { content: "\e2ed"; }
.icm-weather-snow:before { content: "\e2ee"; }
.icm-windy:before { content: "\e2ef"; }
.icm-fan:before { content: "\e2f0"; }
.icm-umbrella:before { content: "\e2f1"; }
.icm-sun:before { content: "\e2f2"; }
.icm-sun2:before { content: "\e2f3"; }
.icm-brightness-high:before { content: "\e2f4"; }
.icm-brightness-medium:before { content: "\e2f5"; }
.icm-brightness-low:before { content: "\e2f6"; }
.icm-brightness-contrast:before { content: "\e2f7"; }
.icm-contrast:before { content: "\e2f8"; }
.icm-moon:before { content: "\e2f9"; }
.icm-bed:before { content: "\e2fa"; }
.icm-bed2:before { content: "\e2fb"; }
.icm-star:before { content: "\e2fc"; }
.icm-star2:before { content: "\e2fd"; }
.icm-star3:before { content: "\e2fe"; }
.icm-star4:before { content: "\e2ff"; }
.icm-star5:before { content: "\e300"; }
.icm-star6:before { content: "\e301"; }
.icm-heart:before { content: "\e302"; }
.icm-heart2:before { content: "\e303"; }
.icm-heart3:before { content: "\e304"; }
.icm-heart4:before { content: "\e305"; }
.icm-heart-broken:before { content: "\e306"; }
.icm-heart5:before { content: "\e307"; }
.icm-heart6:before { content: "\e308"; }
.icm-heart-broken2:before { content: "\e309"; }
.icm-heart7:before { content: "\e30a"; }
.icm-heart8:before { content: "\e30b"; }
.icm-heart-broken3:before { content: "\e30c"; }
.icm-lips:before { content: "\e30d"; }
.icm-lips2:before { content: "\e30e"; }
.icm-thumbs-up:before { content: "\e30f"; }
.icm-thumbs-up2:before { content: "\e310"; }
.icm-thumbs-down:before { content: "\e311"; }
.icm-thumbs-down2:before { content: "\e312"; }
.icm-thumbs-up3:before { content: "\e313"; }
.icm-thumbs-up4:before { content: "\e314"; }
.icm-thumbs-up5:before { content: "\e315"; }
.icm-thumbs-up6:before { content: "\e316"; }
.icm-people:before { content: "\e317"; }
.icm-man:before { content: "\e318"; }
.icm-male:before { content: "\e319"; }
.icm-woman:before { content: "\e31a"; }
.icm-female:before { content: "\e31b"; }
.icm-peace:before { content: "\e31c"; }
.icm-yin-yang:before { content: "\e31d"; }
.icm-happy:before { content: "\e31e"; }
.icm-happy2:before { content: "\e31f"; }
.icm-smiley:before { content: "\e320"; }
.icm-smiley2:before { content: "\e321"; }
.icm-tongue:before { content: "\e322"; }
.icm-tongue2:before { content: "\e323"; }
.icm-sad:before { content: "\e324"; }
.icm-sad2:before { content: "\e325"; }
.icm-wink:before { content: "\e326"; }
.icm-wink2:before { content: "\e327"; }
.icm-grin:before { content: "\e328"; }
.icm-grin2:before { content: "\e329"; }
.icm-cool:before { content: "\e32a"; }
.icm-cool2:before { content: "\e32b"; }
.icm-angry:before { content: "\e32c"; }
.icm-angry2:before { content: "\e32d"; }
.icm-evil:before { content: "\e32e"; }
.icm-evil2:before { content: "\e32f"; }
.icm-shocked:before { content: "\e330"; }
.icm-shocked2:before { content: "\e331"; }
.icm-confused:before { content: "\e332"; }
.icm-confused2:before { content: "\e333"; }
.icm-neutral:before { content: "\e334"; }
.icm-neutral2:before { content: "\e335"; }
.icm-wondering:before { content: "\e336"; }
.icm-wondering2:before { content: "\e337"; }
.icm-cursor:before { content: "\e338"; }
.icm-cursor2:before { content: "\e339"; }
.icm-point-up:before { content: "\e33a"; }
.icm-point-right:before { content: "\e33b"; }
.icm-point-down:before { content: "\e33c"; }
.icm-point-left:before { content: "\e33d"; }
.icm-pointer:before { content: "\e33e"; }
.icm-hand:before { content: "\e33f"; }
.icm-stack-empty:before { content: "\e340"; }
.icm-stack-plus:before { content: "\e341"; }
.icm-stack-minus:before { content: "\e342"; }
.icm-stack-star:before { content: "\e343"; }
.icm-stack-picture:before { content: "\e344"; }
.icm-stack-down:before { content: "\e345"; }
.icm-stack-up:before { content: "\e346"; }
.icm-stack-cancel:before { content: "\e347"; }
.icm-stack-checkmark:before { content: "\e348"; }
.icm-stack-list:before { content: "\e349"; }
.icm-stack-clubs:before { content: "\e34a"; }
.icm-stack-spades:before { content: "\e34b"; }
.icm-stack-hearts:before { content: "\e34c"; }
.icm-stack-diamonds:before { content: "\e34d"; }
.icm-stack-user:before { content: "\e34e"; }
.icm-stack4:before { content: "\e34f"; }
.icm-stack-music:before { content: "\e350"; }
.icm-stack-play:before { content: "\e351"; }
.icm-move:before { content: "\e352"; }
.icm-resize:before { content: "\e353"; }
.icm-resize2:before { content: "\e354"; }
.icm-warning:before { content: "\e355"; }
.icm-warning2:before { content: "\e356"; }
.icm-notification:before { content: "\e357"; }
.icm-notification2:before { content: "\e358"; }
.icm-question:before { content: "\e359"; }
.icm-question2:before { content: "\e35a"; }
.icm-question3:before { content: "\e35b"; }
.icm-question4:before { content: "\e35c"; }
.icm-question5:before { content: "\e35d"; }
.icm-plus-circle:before { content: "\e35e"; }
.icm-plus-circle2:before { content: "\e35f"; }
.icm-minus-circle:before { content: "\e360"; }
.icm-minus-circle2:before { content: "\e361"; }
.icm-info:before { content: "\e362"; }
.icm-info2:before { content: "\e363"; }
.icm-blocked:before { content: "\e364"; }
.icm-cancel-circle:before { content: "\e365"; }
.icm-cancel-circle2:before { content: "\e366"; }
.icm-checkmark-circle:before { content: "\e367"; }
.icm-checkmark-circle2:before { content: "\e368"; }
.icm-cancel:before { content: "\e369"; }
.icm-spam:before { content: "\e36a"; }
.icm-close:before { content: "\e36b"; }
.icm-close2:before { content: "\e36c"; }
.icm-close3:before { content: "\e36d"; }
.icm-close4:before { content: "\e36e"; }
.icm-close5:before { content: "\e36f"; }
.icm-checkmark:before { content: "\e370"; }
.icm-checkmark2:before { content: "\e371"; }
.icm-checkmark3:before { content: "\e372"; }
.icm-checkmark4:before { content: "\e373"; }
.icm-spell-check:before { content: "\e374"; }
.icm-minus:before { content: "\e375"; }
.icm-plus:before { content: "\e376"; }
.icm-minus2:before { content: "\e377"; }
.icm-plus2:before { content: "\e378"; }
.icm-enter:before { content: "\e379"; }
.icm-exit:before { content: "\e37a"; }
.icm-enter2:before { content: "\e37b"; }
.icm-exit2:before { content: "\e37c"; }
.icm-enter3:before { content: "\e37d"; }
.icm-exit3:before { content: "\e37e"; }
.icm-exit4:before { content: "\e37f"; }
.icm-play3:before { content: "\e380"; }
.icm-pause:before { content: "\e381"; }
.icm-stop:before { content: "\e382"; }
.icm-backward:before { content: "\e383"; }
.icm-forward2:before { content: "\e384"; }
.icm-play4:before { content: "\e385"; }
.icm-pause2:before { content: "\e386"; }
.icm-stop2:before { content: "\e387"; }
.icm-backward2:before { content: "\e388"; }
.icm-forward3:before { content: "\e389"; }
.icm-first:before { content: "\e38a"; }
.icm-last:before { content: "\e38b"; }
.icm-previous:before { content: "\e38c"; }
.icm-next:before { content: "\e38d"; }
.icm-eject:before { content: "\e38e"; }
.icm-volume-high:before { content: "\e38f"; }
.icm-volume-medium:before { content: "\e390"; }
.icm-volume-low:before { content: "\e391"; }
.icm-volume-mute:before { content: "\e392"; }
.icm-volume-mute2:before { content: "\e393"; }
.icm-volume-increase:before { content: "\e394"; }
.icm-volume-decrease:before { content: "\e395"; }
.icm-volume-high2:before { content: "\e396"; }
.icm-volume-medium2:before { content: "\e397"; }
.icm-volume-low2:before { content: "\e398"; }
.icm-volume-mute3:before { content: "\e399"; }
.icm-volume-mute4:before { content: "\e39a"; }
.icm-volume-increase2:before { content: "\e39b"; }
.icm-volume-decrease2:before { content: "\e39c"; }
.icm-volume5:before { content: "\e39d"; }
.icm-volume4:before { content: "\e39e"; }
.icm-volume3:before { content: "\e39f"; }
.icm-volume2:before { content: "\e3a0"; }
.icm-volume1:before { content: "\e3a1"; }
.icm-volume0:before { content: "\e3a2"; }
.icm-volume-mute5:before { content: "\e3a3"; }
.icm-volume-mute6:before { content: "\e3a4"; }
.icm-loop:before { content: "\e3a5"; }
.icm-loop2:before { content: "\e3a6"; }
.icm-loop3:before { content: "\e3a7"; }
.icm-loop4:before { content: "\e3a8"; }
.icm-loop5:before { content: "\e3a9"; }
.icm-shuffle:before { content: "\e3aa"; }
.icm-shuffle2:before { content: "\e3ab"; }
.icm-wave:before { content: "\e3ac"; }
.icm-wave2:before { content: "\e3ad"; }
.icm-arrow-first:before { content: "\e3ae"; }
.icm-arrow-right:before { content: "\e3af"; }
.icm-arrow-up:before { content: "\e3b0"; }
.icm-arrow-right2:before { content: "\e3b1"; }
.icm-arrow-down:before { content: "\e3b2"; }
.icm-arrow-left:before { content: "\e3b3"; }
.icm-arrow-up2:before { content: "\e3b4"; }
.icm-arrow-right3:before { content: "\e3b5"; }
.icm-arrow-down2:before { content: "\e3b6"; }
.icm-arrow-left2:before { content: "\e3b7"; }
.icm-arrow-up-left:before { content: "\e3b8"; }
.icm-arrow-up3:before { content: "\e3b9"; }
.icm-arrow-up-right:before { content: "\e3ba"; }
.icm-arrow-right4:before { content: "\e3bb"; }
.icm-arrow-down-right:before { content: "\e3bc"; }
.icm-arrow-down3:before { content: "\e3bd"; }
.icm-arrow-down-left:before { content: "\e3be"; }
.icm-arrow-left3:before { content: "\e3bf"; }
.icm-arrow-up-left2:before { content: "\e3c0"; }
.icm-arrow-up4:before { content: "\e3c1"; }
.icm-arrow-up-right2:before { content: "\e3c2"; }
.icm-arrow-right5:before { content: "\e3c3"; }
.icm-arrow-down-right2:before { content: "\e3c4"; }
.icm-arrow-down4:before { content: "\e3c5"; }
.icm-arrow-down-left2:before { content: "\e3c6"; }
.icm-arrow-left4:before { content: "\e3c7"; }
.icm-arrow-up-left3:before { content: "\e3c8"; }
.icm-arrow-up5:before { content: "\e3c9"; }
.icm-arrow-up-right3:before { content: "\e3ca"; }
.icm-arrow-right6:before { content: "\e3cb"; }
.icm-arrow-down-right3:before { content: "\e3cc"; }
.icm-arrow-down5:before { content: "\e3cd"; }
.icm-arrow-down-left3:before { content: "\e3ce"; }
.icm-arrow-left5:before { content: "\e3cf"; }
.icm-arrow-up-left4:before { content: "\e3d0"; }
.icm-arrow-up6:before { content: "\e3d1"; }
.icm-arrow-up-right4:before { content: "\e3d2"; }
.icm-arrow-right7:before { content: "\e3d3"; }
.icm-arrow-down-right4:before { content: "\e3d4"; }
.icm-arrow-down6:before { content: "\e3d5"; }
.icm-arrow-down-left4:before { content: "\e3d6"; }
.icm-arrow-left6:before { content: "\e3d7"; }
.icm-arrow:before { content: "\e3d8"; }
.icm-arrow2:before { content: "\e3d9"; }
.icm-arrow3:before { content: "\e3da"; }
.icm-arrow4:before { content: "\e3db"; }
.icm-arrow5:before { content: "\e3dc"; }
.icm-arrow6:before { content: "\e3dd"; }
.icm-arrow7:before { content: "\e3de"; }
.icm-arrow8:before { content: "\e3df"; }
.icm-arrow-up-left5:before { content: "\e3e0"; }
.icm-arrowsquare:before { content: "\e3e1"; }
.icm-arrow-up-right5:before { content: "\e3e2"; }
.icm-arrow-right8:before { content: "\e3e3"; }
.icm-arrow-down-right5:before { content: "\e3e4"; }
.icm-arrow-down7:before { content: "\e3e5"; }
.icm-arrow-down-left5:before { content: "\e3e6"; }
.icm-arrow-left7:before { content: "\e3e7"; }
.icm-arrow-up7:before { content: "\e3e8"; }
.icm-arrow-right9:before { content: "\e3e9"; }
.icm-arrow-down8:before { content: "\e3ea"; }
.icm-arrow-left8:before { content: "\e3eb"; }
.icm-arrow-up8:before { content: "\e3ec"; }
.icm-arrow-right10:before { content: "\e3ed"; }
.icm-arrow-bottom:before { content: "\e3ee"; }
.icm-arrow-left9:before { content: "\e3ef"; }
.icm-arrow-up-left6:before { content: "\e3f0"; }
.icm-arrow-up9:before { content: "\e3f1"; }
.icm-arrow-up-right6:before { content: "\e3f2"; }
.icm-arrow-right11:before { content: "\e3f3"; }
.icm-arrow-down-right6:before { content: "\e3f4"; }
.icm-arrow-down9:before { content: "\e3f5"; }
.icm-arrow-down-left6:before { content: "\e3f6"; }
.icm-arrow-left10:before { content: "\e3f7"; }
.icm-arrow-up-left7:before { content: "\e3f8"; }
.icm-arrow-up10:before { content: "\e3f9"; }
.icm-arrow-up-right7:before { content: "\e3fa"; }
.icm-arrow-right12:before { content: "\e3fb"; }
.icm-arrow-down-right7:before { content: "\e3fc"; }
.icm-arrow-down10:before { content: "\e3fd"; }
.icm-arrow-down-left7:before { content: "\e3fe"; }
.icm-arrow-left11:before { content: "\e3ff"; }
.icm-arrow-up11:before { content: "\e400"; }
.icm-arrow-right13:before { content: "\e401"; }
.icm-arrow-down11:before { content: "\e402"; }
.icm-arrow-left12:before { content: "\e403"; }
.icm-arrow-up12:before { content: "\e404"; }
.icm-arrow-right14:before { content: "\e405"; }
.icm-arrow-down12:before { content: "\e406"; }
.icm-arrow-left13:before { content: "\e407"; }
.icm-arrow-up13:before { content: "\e408"; }
.icm-arrow-right15:before { content: "\e409"; }
.icm-arrow-down13:before { content: "\e40a"; }
.icm-arrow-left14:before { content: "\e40b"; }
.icm-arrow-up14:before { content: "\e40c"; }
.icm-arrow-right16:before { content: "\e40d"; }
.icm-arrow-down14:before { content: "\e40e"; }
.icm-arrow-left15:before { content: "\e40f"; }
.icm-arrow-up15:before { content: "\e410"; }
.icm-arrow-right17:before { content: "\e411"; }
.icm-arrow-down15:before { content: "\e412"; }
.icm-arrow-left16:before { content: "\e413"; }
.icm-arrow-up16:before { content: "\e414"; }
.icm-arrow-right18:before { content: "\e415"; }
.icm-arrow-down16:before { content: "\e416"; }
.icm-arrow-left17:before { content: "\e417"; }
.icm-menu10:before { content: "\e418"; }
.icm-menu11:before { content: "\e419"; }
.icm-menu-close:before { content: "\e41a"; }
.icm-menu-close2:before { content: "\e41b"; }
.icm-enter4:before { content: "\e41c"; }
.icm-enter5:before { content: "\e41d"; }
.icm-esc:before { content: "\e41e"; }
.icm-backspace:before { content: "\e41f"; }
.icm-backspace2:before { content: "\e420"; }
.icm-backspace3:before { content: "\e421"; }
.icm-tab:before { content: "\e422"; }
.icm-transmission:before { content: "\e423"; }
.icm-transmission2:before { content: "\e424"; }
.icm-sort:before { content: "\e425"; }
.icm-sort2:before { content: "\e426"; }
.icm-key-keyboard:before { content: "\e427"; }
.icm-key-A:before { content: "\e428"; }
.icm-key-up:before { content: "\e429"; }
.icm-key-right:before { content: "\e42a"; }
.icm-key-down:before { content: "\e42b"; }
.icm-key-left:before { content: "\e42c"; }
.icm-command:before { content: "\e42d"; }
.icm-checkbox-checked:before { content: "\e42e"; }
.icm-checkbox-unchecked:before { content: "\e42f"; }
.icm-square:before { content: "\e430"; }
.icm-checkbox-partial:before { content: "\e431"; }
.icm-checkbox:before { content: "\e432"; }
.icm-checkbox-unchecked2:before { content: "\e433"; }
.icm-checkbox-partial2:before { content: "\e434"; }
.icm-checkbox-checked2:before { content: "\e435"; }
.icm-checkbox-unchecked3:before { content: "\e436"; }
.icm-checkbox-partial3:before { content: "\e437"; }
.icm-radio-checked:before { content: "\e438"; }
.icm-radio-unchecked:before { content: "\e439"; }
.icm-circle:before { content: "\e43a"; }
.icm-circle2:before { content: "\e43b"; }
.icm-crop:before { content: "\e43c"; }
.icm-crop2:before { content: "\e43d"; }
.icm-vector:before { content: "\e43e"; }
.icm-rulers:before { content: "\e43f"; }
.icm-scissors:before { content: "\e440"; }
.icm-scissors2:before { content: "\e441"; }
.icm-scissors3:before { content: "\e442"; }
.icm-filter:before { content: "\e443"; }
.icm-filter2:before { content: "\e444"; }
.icm-filter3:before { content: "\e445"; }
.icm-filter4:before { content: "\e446"; }
.icm-font:before { content: "\e447"; }
.icm-font-size:before { content: "\e448"; }
.icm-type:before { content: "\e449"; }
.icm-text-height:before { content: "\e44a"; }
.icm-text-width:before { content: "\e44b"; }
.icm-height:before { content: "\e44c"; }
.icm-width:before { content: "\e44d"; }
.icm-bold:before { content: "\e44e"; }
.icm-underline:before { content: "\e44f"; }
.icm-italic:before { content: "\e450"; }
.icm-strikethrough:before { content: "\e451"; }
.icm-strikethrough2:before { content: "\e452"; }
.icm-font-size2:before { content: "\e453"; }
.icm-bold2:before { content: "\e454"; }
.icm-underline2:before { content: "\e455"; }
.icm-italic2:before { content: "\e456"; }
.icm-strikethrough3:before { content: "\e457"; }
.icm-omega:before { content: "\e458"; }
.icm-sigma:before { content: "\e459"; }
.icm-nbsp:before { content: "\e45a"; }
.icm-page-break:before { content: "\e45b"; }
.icm-page-break2:before { content: "\e45c"; }
.icm-superscript:before { content: "\e45d"; }
.icm-subscript:before { content: "\e45e"; }
.icm-superscript2:before { content: "\e45f"; }
.icm-subscript2:before { content: "\e460"; }
.icm-text-color:before { content: "\e461"; }
.icm-highlight:before { content: "\e462"; }
.icm-pagebreak:before { content: "\e463"; }
.icm-clear-formatting:before { content: "\e464"; }
.icm-table:before { content: "\e465"; }
.icm-table2:before { content: "\e466"; }
.icm-insert-template:before { content: "\e467"; }
.icm-pilcrow:before { content: "\e468"; }
.icm-lefttoright:before { content: "\e469"; }
.icm-righttoleft:before { content: "\e46a"; }
.icm-paragraph-left:before { content: "\e46b"; }
.icm-paragraph-center:before { content: "\e46c"; }
.icm-paragraph-right:before { content: "\e46d"; }
.icm-paragraph-justify:before { content: "\e46e"; }
.icm-paragraph-left2:before { content: "\e46f"; }
.icm-paragraph-center2:before { content: "\e470"; }
.icm-paragraph-right2:before { content: "\e471"; }
.icm-paragraph-justify2:before { content: "\e472"; }
.icm-indent-increase:before { content: "\e473"; }
.icm-indent-decrease:before { content: "\e474"; }
.icm-paragraph-left3:before { content: "\e475"; }
.icm-paragraph-center3:before { content: "\e476"; }
.icm-paragraph-right3:before { content: "\e477"; }
.icm-paragraph-justify3:before { content: "\e478"; }
.icm-indent-increase2:before { content: "\e479"; }
.icm-indent-decrease2:before { content: "\e47a"; }
.icm-share:before { content: "\e47b"; }
.icm-newtab:before { content: "\e47c"; }
.icm-newtab2:before { content: "\e47d"; }
.icm-popout:before { content: "\e47e"; }
.icm-embed:before { content: "\e47f"; }
.icm-code:before { content: "\e480"; }
.icm-console:before { content: "\e481"; }
.icm-sevensegment0:before { content: "\e482"; }
.icm-sevensegment1:before { content: "\e483"; }
.icm-sevensegment2:before { content: "\e484"; }
.icm-sevensegment3:before { content: "\e485"; }
.icm-sevensegment4:before { content: "\e486"; }
.icm-sevensegment5:before { content: "\e487"; }
.icm-sevensegment6:before { content: "\e488"; }
.icm-sevensegment7:before { content: "\e489"; }
.icm-sevensegment8:before { content: "\e48a"; }
.icm-sevensegment9:before { content: "\e48b"; }
.icm-share2:before { content: "\e48c"; }
.icm-share3:before { content: "\e48d"; }
.icm-mail:before { content: "\e48e"; }
.icm-mail2:before { content: "\e48f"; }
.icm-mail3:before { content: "\e490"; }
.icm-mail4:before { content: "\e491"; }
.icm-google:before { content: "\e492"; }
.icm-googleplus:before { content: "\e493"; }
.icm-googleplus2:before { content: "\e494"; }
.icm-googleplus3:before { content: "\e495"; }
.icm-googleplus4:before { content: "\e496"; }
.icm-google-drive:before { content: "\e497"; }
.icm-facebook:before { content: "\e498"; }
.icm-facebook2:before { content: "\e499"; }
.icm-facebook3:before { content: "\e49a"; }
.icm-facebook4:before { content: "\e49b"; }
.icm-instagram:before { content: "\e49c"; }
.icm-twitter:before { content: "\e49d"; }
.icm-twitter2:before { content: "\e49e"; }
.icm-twitter3:before { content: "\e49f"; }
.icm-feed2:before { content: "\e4a0"; }
.icm-feed3:before { content: "\e4a1"; }
.icm-feed4:before { content: "\e4a2"; }
.icm-youtube:before { content: "\e4a3"; }
.icm-youtube2:before { content: "\e4a4"; }
.icm-vimeo:before { content: "\e4a5"; }
.icm-vimeo2:before { content: "\e4a6"; }
.icm-vimeo3:before { content: "\e4a7"; }
.icm-lanyrd:before { content: "\e4a8"; }
.icm-flickr:before { content: "\e4a9"; }
.icm-flickr2:before { content: "\e4aa"; }
.icm-flickr3:before { content: "\e4ab"; }
.icm-flickr4:before { content: "\e4ac"; }
.icm-picassa:before { content: "\e4ad"; }
.icm-picassa2:before { content: "\e4ae"; }
.icm-dribbble:before { content: "\e4af"; }
.icm-dribbble2:before { content: "\e4b0"; }
.icm-dribbble3:before { content: "\e4b1"; }
.icm-forrst:before { content: "\e4b2"; }
.icm-forrst2:before { content: "\e4b3"; }
.icm-deviantart:before { content: "\e4b4"; }
.icm-deviantart2:before { content: "\e4b5"; }
.icm-steam:before { content: "\e4b6"; }
.icm-steam2:before { content: "\e4b7"; }
.icm-github:before { content: "\e4b8"; }
.icm-github2:before { content: "\e4b9"; }
.icm-github3:before { content: "\e4ba"; }
.icm-github4:before { content: "\e4bb"; }
.icm-github5:before { content: "\e4bc"; }
.icm-wordpress:before { content: "\e4bd"; }
.icm-wordpress2:before { content: "\e4be"; }
.icm-joomla:before { content: "\e4bf"; }
.icm-blogger:before { content: "\e4c0"; }
.icm-blogger2:before { content: "\e4c1"; }
.icm-tumblr:before { content: "\e4c2"; }
.icm-tumblr2:before { content: "\e4c3"; }
.icm-yahoo:before { content: "\e4c4"; }
.icm-tux:before { content: "\e4c5"; }
.icm-apple:before { content: "\e4c6"; }
.icm-finder:before { content: "\e4c7"; }
.icm-android:before { content: "\e4c8"; }
.icm-windows:before { content: "\e4c9"; }
.icm-windows8:before { content: "\e4ca"; }
.icm-soundcloud:before { content: "\e4cb"; }
.icm-soundcloud2:before { content: "\e4cc"; }
.icm-skype:before { content: "\e4cd"; }
.icm-reddit:before { content: "\e4ce"; }
.icm-linkedin:before { content: "\e4cf"; }
.icm-lastfm:before { content: "\e4d0"; }
.icm-lastfm2:before { content: "\e4d1"; }
.icm-delicious:before { content: "\e4d2"; }
.icm-stumbleupon:before { content: "\e4d3"; }
.icm-stumbleupon2:before { content: "\e4d4"; }
.icm-stackoverflow:before { content: "\e4d5"; }
.icm-pinterest:before { content: "\e4d6"; }
.icm-pinterest2:before { content: "\e4d7"; }
.icm-xing:before { content: "\e4d8"; }
.icm-xing2:before { content: "\e4d9"; }
.icm-flattr:before { content: "\e4da"; }
.icm-foursquare:before { content: "\e4db"; }
.icm-foursquare2:before { content: "\e4dc"; }
.icm-paypal:before { content: "\e4dd"; }
.icm-paypal2:before { content: "\e4de"; }
.icm-paypal3:before { content: "\e4df"; }
.icm-yelp:before { content: "\e4e0"; }
.icm-libreoffice:before { content: "\e4e1"; }
.icm-file-pdf:before { content: "\e4e2"; }
.icm-file-openoffice:before { content: "\e4e3"; }
.icm-file-word:before { content: "\e4e4"; }
.icm-file-excel:before { content: "\e4e5"; }
.icm-file-zip:before { content: "\e4e6"; }
.icm-file-powerpoint:before { content: "\e4e7"; }
.icm-file-xml:before { content: "\e4e8"; }
.icm-file-css:before { content: "\e4e9"; }
.icm-html5:before { content: "\e4ea"; }
.icm-html52:before { content: "\e4eb"; }
.icm-css3:before { content: "\e4ec"; }
.icm-chrome:before { content: "\e4ed"; }
.icm-firefox:before { content: "\e4ee"; }
.icm-IE:before { content: "\e4ef"; }
.icm-opera:before { content: "\e4f0"; }
.icm-safari:before { content: "\e4f1"; }
.icm-IcoMoon:before { content: "\e4f2"; }