<div class="container-admin col-md-3 col-sm-6">
  <% if notice %>
    <p class="notice">
      <%= notice %>
    </p>
  <% end %>
  <h2>Create User</h2>
  <%= form_for(@user) do |f| %>
    <div class="row">
      <%= f.label :email %>
    </div>
    <div class="row">
      <%= f.email_field :email, :autofocus => true, class: ['textfield', 'col-xs-12'] %>
    </div>
    <div class="row">
      <%= f.label :password %>
    </div>
    <div class="row">
      <%= f.password_field :password, class: ['textfield', 'col-xs-12'] %>
    </div>
    <div class="row">
      <%= f.label :password_confirmation %>
    </div>
    <div class="row">
      <%= f.password_field :password_confirmation, class: ['textfield', 'col-xs-12'] %>
    </div>
    <div class="row">
      <%= f.submit "Create User", class: ['btn', 'btn-lg', 'btn-success'] %>
    </div>
  <% end %>
</div>
