<div ng-repeat = "area in areas" class="row">
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{area.name}} 
          </h3>
        </div>
        <div class="panel-body index">
            <ul>
              <li ng-repeat = "person in fieldworkers">
                {{ person.email }}
                <ul>
                  <li>
                    <% if person.households.empty? %>
                      <%= "No households" %>
                    <% else person.households.name %>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
        </div>
      </div>
    </div>
</div>
