<div class="clearfix">
  <p class="chat-bubble chat-bubble-<%= position %>">
    <%= image_tag lorem.avatar(24),
      :class => "img-circle chat-bubble-avatar chat-bubble-avatar-#{position}" %>
    <%= lorem.sentence %>
  </p>
</div>