<section id="slider">
  <h4>Horizontal Slider</h4>
  <br>
  <div id="h-slider"></div>
  <br>
  <h4>Vertical Slider</h4>
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
        <span class="ui-icon ui-icon-volume-on" style="float:left; margin:1px 5px 0 0;"></span>
        Master volume
      </p>
      <p>
        <label for="amount">Volume:</label>
        <input type="text" id="amount" value="" class="form-control">
      </p>
    </div>
    <div class="col-lg-6 col-sm-6">
      <div id="v-slider" style="height:200px;"></div>
    </div>
  </div>
</section>