<section id="block-state">
  <div class="ui-widget margin-bottom">
    <div class="ui-state-highlight ui-corner-all">
      <div><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em; margin-top: .1em;"></span>
        <strong>Hey!</strong> Sample ui-state-highlight style.</div>
    </div>
  </div>
  <div class="ui-widget margin-bottom">
    <div class="ui-state-error ui-corner-all">
      <div><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .1em;"></span>
        <strong>Alert:</strong> Sample ui-state-error style.</div>
    </div>
  </div>
  <div class="ui-widget margin-bottom">
    <div class="ui-state-default ui-corner-all">
      <div><span class="ui-icon ui-icon-mail-closed" style="float: left; margin-right: .3em; margin-top: .1em;"></span>
        <strong>Hello:</strong> Sample ui-state-default style.</div>
    </div>
  </div>
</section>