<p>
  <span class="label label-default">Default</span>
  <span class="label label-primary">Primary</span>
  <span class="label label-success">Success</span>
  <span class="label label-info">Info</span>
  <span class="label label-warning">Warning</span>
  <span class="label label-danger">Danger</span>
</p>
<p>
  <span class="badge badge-default">1</span>
  <span class="badge badge-primary">2</span>
  <span class="badge badge-success">3</span>
  <span class="badge badge-info">4</span>
  <span class="badge badge-warning">5</span>
  <span class="badge badge-danger">6</span>
</p>
<p>
  <span class="badge badge-default badge-empty"></span>
  <span class="badge badge-primary badge-empty"></span>
  <span class="badge badge-success badge-empty"></span>
  <span class="badge badge-info badge-empty"></span>
  <span class="badge badge-warning badge-empty"></span>
  <span class="badge badge-danger badge-empty"></span>
</p>
