<div class="actionable-contain">
  <button type="button" class="close pull-right">&times;</button>
  <br><br>
  <h1 class="thin text-success text-center actionable-animated-fadeInLeftSmall">
    Success!
  </h1>
  <br><br>
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped active"
         style="width: 100%">
    </div>
  </div>
  <br><br>
  <p class="text-center actionable-animated-fadeInRightSmall">
    Redirecting to your dashboard...
  </p>
</div>