<div id="error_explanation">
  <h2>{{name}}</h2>
  </div>
 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
</div>

