{{area}}
<p>
  <b>
    Name:
  </b>
 {{area.Name}}
</p>
<h2>
  Assigned Households
</h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
          <li ng-repeat = "resource in resources">{{}}</li>
          </h3>
        </div>
        <div class="panel-body">
        
        </div>
      </div>
    </div>

</div>
<h2>
  Unassigned
</h2>

  <p>
    No users have been assigned as any roles.
  </p>
  <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                
              </h3>
            </div>
            <div class="panel-body">
              Select Role
            
                
                    <div class="row">
                   
                    </div>
                
            </div>
          </div>
        </div>
     
  </div>

