<div class="container-fluid turbo-cols-static turbo-grid-wrap" ng-controller="EditUsersController">
<div class="turbo-grid">
	<!-- ngView:  -->
	<div class="row ng-scope" rel="panels">
		<div class="col-md-8">
			<div class="turbo-card turbo-toggle">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title text-center">
							Username: {{name}}
						</div>
					</div>
					<div class="panel-body no-padding-top">
						<div class="vpadded">
							<div style="height: 186px;" class="text-center padded-top">

								{{newRole.permissions}}
								Add permissions for {{roleName}}:</br>
								<label ng-repeat="permission in permissions">
									<input type="checkbox"  checklist-model="newRole.permissions" checklist-value="permission">{{permission['permission code']}}: {{permission['permission description']}}&nbsp<br/>
								</label></br>
								<button type="button" class="btn btn-primary btn-xs" ng-click="createRole(newRole.permissions)">Create Role</button>
								{{permission}}


							</div>
						</div>
						<div class="row">


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
