<div class="container-fluid turbo-cols-static turbo-grid-wrap">
<div class="turbo-grid">
	<!-- ngView:  -->
	<div class="row ng-scope" rel="panels">
		<div class="col-md-8">
			<div class="turbo-card turbo-toggle">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title text-center">
							Editing Role: {{roleName}}
						</div>
					</div>
					<div class="panel-body no-padding-top">
						<div class="vpadded">
							<div style="height: 186px;" class="text-center padded-top">
              <h2>{{message}}</h2>
								Current Permissions:
								<ul><li ng-repeat="permission in role_permissions">{{permission}}</li></ul>
               
								Available Permissions:</br>
								<label ng-repeat="permission in permissions">
									<input type="checkbox" checklist-model="role_permissions" checklist-value="permission['permission code']">{{permission['permission code']}}({{permission['permission description']}})
								</label></br>
								<button type="button" class="btn btn-primary btn-xs" ng-click="editRole(newRoles)">Assign</button>
							</div>
						</div>
						<div class="row">
							

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
