<div class="container-fluid turbo-cols-static turbo-grid-wrap">
<div class="turbo-grid">
	<!-- ngView:  -->
	<div class="row ng-scope" rel="panels">
		<div class="col-md-4" ng-repeat="household in households">
			<div class="turbo-card turbo-toggle">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title text-center">
							{{household.name}} Household
						</div>
					</div>
					<div class="panel-body no-padding-top">
						<div class="vpadded">
							<div style="height: 186px;" class="text-center padded-top">
								Country: {{household.country}}</br>
								Region: {{household.region}}</br>
								Area: {{household.area}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5" ng-repeat="member in household.members">
								Name: {{member.name}} Relationship:{{member.relationship}} Gender: {{member.gender}}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
