<div>
<script>
function duplicateElement(){
	var count = JSON.parse(localStorage.getItem('increment'));
	console.log(count)
	if( count == undefined){
		count = 0;
	}else{
		count=localStorage.getItem("increment")*1;
	}
	
	count++;
	localStorage.setItem('increment',JSON.stringify(count));
	console.log(count);
	var element = document.createElement('div');
		element.id = "question"
		element.innerHTML = "<input type='text' ng-model='points["+ count +"]'><select ng-model='quest.type' ng-options='k as v for (k , v) in responseTypes'><option value='{{v}}'></option></select>"
	var destination = document.getElementById("placeholder");
	destination.appendChild(element);


};


</script>

Survey Title:<br/>

<input type="text" ng-model="surveyTitle"></input>
Select Type:
<select name="" id="" ng-model="survey_type" ng-options="k as v for (k , v) in types">
  <option value="{{v}}">Choose a type</option>
  
</select><br/>
Question Title:<br/>
  <input type="text" ng-model="questionTitle"></input>
Select type:
<select name="" id="" ng-model="question_type" ng-options="k as v for (k , v) in questionTypes">
  <option value="{{v}}">Choose a type</option>  
</select><br/>
Create Questions:<br/>
Data Point 1:
<div id="question">
<input type="text" ng-model="points[0]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
Data Point 2:
<div id="question">
<input type="text" ng-model="points[1]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
Data Point 3:
<div id="question">
<input type="text" ng-model="points[2]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
Data Point 4:
<div id="question">
<input type="text" ng-model="points[3]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
Data Point 5:
<div id="question">
<input type="text" ng-model="points[4]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
Data Point 6:
<div id="question">
<input type="text" ng-model="points[5]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
Data Point 7:
<div id="question">
<input type="text" ng-model="points[6]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
Data Point 8:
<div id="question">
<input type="text" ng-model="points[7]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
Data Point 9:
<div id="question">
<input type="text" ng-model="points[8]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
Data Point 10:
<div id="question">
<input type="text" ng-model="points[9]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
Data Point 11:
<div id="question">
<input type="text" ng-model="points[11]">
<select ng-model="quest.type" ng-options="k as v for (k , v) in responseTypes"
	<option value="{{v}}"></option>


</select>
</div>
<div id="placeholder"></div><br/>
<button type="submit" class="btn btn-primary" ng-click = "createList()">+</button><br/>
<br/>
<button type="submit" class="btn btn-primary" ng-click = "buildSurvey()">Build Survey</button><br/>
Existing Surveys:
<ul ng-repeat="question in questions">
<li >{{question.name}}</li>
<ul ng-repeat="questions in question.questions">
<li>name: {{questions.name}}</li>
<li>Multi-Use: {{questions.multiUse}}</li>
<ul ng-repeat="dataPoint in questions.dataPoints">
<li>Label: {{dataPoint.label}}</li>
<li>Type: {{dataPoint.type}}</li>
</ul>
</ul>
</ul>




</div>