<div class="container-fluid turbo-cols-static turbo-grid-wrap" ng-controller="AreasUsersController" data-ng-init="regionInit()">
<div class="turbo-grid">
	<!-- ngView:  -->
	<div class="row ng-scope" rel="panels">
		<div class="col-md-5" >
			<div class="turbo-card turbo-toggle">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title text-center">
							Assign user to Region:
						</div>
					</div>
					<div class="panel-body no-padding-top">
						<div class="vpadded" ng-repeat="region in regions">
							<a href = "/admin/assign/area/{{region.name}}"ng-click="regionAssign()"><h2>{{region.name}}</h2></a>

							</br>

						</div>
						<div class="row">
							<div class="col-xs-12">
								<div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
