<div class="container-fluid turbo-cols-static turbo-grid-wrap" ng-controller="EditUsersController">
<div class="turbo-grid">
	<!-- ngView:  -->
	<div class="row ng-scope" rel="panels">
		<div class="col-md-8">
			<div class="turbo-card turbo-toggle">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="panel-title text-center">
							Username: {{name}}
						</div>
					</div>
					<div class="panel-body no-padding-top">
						<div class="vpadded">
							<div style="height: 186px;" class="text-center padded-top">
								Current Roles:
								<ul><li ng-repeat="role in userRoles">{{role.$value}}{{role}}</li></ul>

								Available Roles:</br>
								<label ng-repeat="role in roles">
									<input type="checkbox"  checklist-model="userRoles" checklist-value="role.name">{{role.name}}
								</label></br>
								<button type="button" class="btn btn-primary btn-xs" ng-click="updateRole()">Assign</button>


							</div>
						</div>
						<div class="row">
							<a href = "/admin/users/{{name}}/edit">Edit Users Info</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
