<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= partial 'htmls/pages/invoice/new_invoice' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= partial 'htmls/pages/invoice/paid_invoice' %>
    </div>
  </div>
</div>