<div class="tree" rel="tree">
  <ul>
    <li>
      <span class="tree-node label label-default"><i class="fa fa-folder-open"></i></span> <a href="#">Link</a>
      <ul>
        <li>
          <span class="tree-node label label-default"><i class="fa fa-plus"></i></span> <a href="#">Link</a>
          <ul>
            <li>
              <span class="tree-node label label-default"><i class="fa fa-leaf"></i></span> <a href="#">Link</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="tree-node label label-default"><i class="fa fa-plus"></i></span> <a href="#">Link</a>
          <ul>
            <li>
              <span class="tree-node label label-default"><i class="fa fa-leaf"></i></span> <a href="#">Link</a>
            </li>
            <li>
              <span class="tree-node label label-default"><i class="fa fa-plus"></i></span> <a href="#">Link</a>
              <ul>
                <li>
                  <span class="tree-node label label-default"><i class="fa fa-plus"></i></span> <a href="#">Link</a>
                  <ul>
                    <li>
                      <span class="tree-node label label-default"><i class="fa fa-leaf"></i></span> <a href="#">Link</a>
                    </li>
                    <li>
                      <span class="tree-node label label-default"><i class="fa fa-leaf"></i></span> <a href="#">Link</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <span class="tree-node label label-default"><i class="fa fa-leaf"></i></span> <a href="#">Link</a>
                </li>
                <li>
                  <span class="tree-node label label-default"><i class="fa fa-leaf"></i></span> <a href="#">Link</a>
                </li>
              </ul>
            </li>
            <li>
              <span class="tree-node label label-default"><i class="fa fa-leaf"></i></span> <a href="#">Link</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <span class="tree-node label label-default"><i class="fa fa-folder-open"></i></span> <a href="#">Link</a>
      <ul>
        <li>
          <span class="tree-node label label-default"><i class="fa fa-leaf"></i></span> <a href="#">Link</a>
        </li>
      </ul>
    </li>
  </ul>
</div>