---
layout: splash
title: Emerald
---

<!-- This file is just for demo pourposes, can be safely ignored -->

<div class="splash-center">
  <div class="gauge">
    <div class="gauge-center"></div>
    <div class="gauge-indicator"></div>
  </div>
</div>
