<h5>Checkboxes</h5>
<div class="row">
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" value="option1" rel="icheck" class="checkable-dark"> Unchecked
    </label> <br>   
    <label class="checkbox-inline">
      <input type="checkbox" value="option2" checked rel="icheck" class="checkable-primary"> Primary
    </label> <br>
    <label class="checkbox-inline">
      <input type="checkbox" value="option2" checked rel="icheck" class="checkable-warning"> Warning
    </label>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" value="option2" checked rel="icheck" class="checkable-dark"> Checked
    </label> <br>
    <label class="checkbox-inline">
      <input type="checkbox" value="option2" checked rel="icheck" class="checkable-info"> Info
    </label> <br>
    <label class="checkbox-inline">
      <input type="checkbox" value="option2" checked rel="icheck" class="checkable-danger"> Danger
    </label>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" value="option3" disabled rel="icheck" class="checkable-dark"> Disabled
    </label> <br>
    <label class="checkbox-inline">
      <input type="checkbox" value="option2" checked rel="icheck" class="checkable-success"> Success
    </label> <br>
    <label class="checkbox-inline">
      <input type="checkbox" value="option2" checked rel="icheck" class="checkable-inverse"> Inverse
    </label>
  </div>
</div>

<h5>Radios</h5>
<div class="row">
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="radio" value="option1" rel="icheck" class="checkable-dark"> Unchecked
    </label> <br>
    <label class="checkbox-inline">
      <input type="radio" value="option2" checked rel="icheck" class="checkable-primary"> Primary
    </label> <br>
    <label class="checkbox-inline">
      <input type="radio" value="option2" checked rel="icheck" class="checkable-warning"> Warning
    </label>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="radio" value="option2" checked rel="icheck" class="checkable-dark"> Checked
    </label> <br>
    <label class="checkbox-inline">
      <input type="radio" value="option2" checked rel="icheck" class="checkable-info"> Info
    </label> <br>
    <label class="checkbox-inline">
      <input type="radio" value="option2" checked rel="icheck" class="checkable-danger"> Danger
    </label>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="radio" value="option3" disabled rel="icheck" class="checkable-dark"> Disabled
    </label> <br>
    <label class="checkbox-inline">
      <input type="radio" value="option2" checked rel="icheck" class="checkable-success"> Success
    </label> <br>
    <label class="checkbox-inline">
      <input type="radio" value="option2" checked rel="icheck" class="checkable-inverse"> Inverse
    </label>
  </div>
</div>
