<style type="text/css">
  .powerange-holder.vertical {
    height: 180px;
    float: left;
  }
</style>

<div class="row">
  <div class="col-lg-6">
    <h5>Horizontal</h5>
    <br>
    <p class="powerange-holder"><input type="text" rel="powerange"></p>
    <p class="powerange-holder"><input type="text" data-start="33" rel="powerange"></p>
    <p class="powerange-holder"><input type="text" data-start="66" rel="powerange"></p>
    <p class="powerange-holder"><input type="text" data-start="100" rel="powerange"></p>
  </div>
  <div class="col-lg-6">
    <h5>Vertical</h5>
    <br>
    <p class="powerange-holder vertical"><input type="text" data-vertical="true" rel="powerange"></p>
    <p class="powerange-holder vertical"><input type="text" data-vertical="true" data-start="33" rel="powerange"></p>
    <p class="powerange-holder vertical"><input type="text" data-vertical="true" data-start="66" rel="powerange"></p>
    <p class="powerange-holder vertical"><input type="text" data-vertical="true" data-start="100" rel="powerange"></p>
  </div>
</div>
