<style type="text/css">
    .switches-panel .switch {
        margin: 1px;
    }
</style>

<div class="switches-panel">

  <div class="clearfix">
    <h5>Colors</h5>
    <div class="switch switch-default pull-left">
      <input type="checkbox" checked rel="switch">
    </div>
    <div class="switch switch-primary pull-left">
      <input type="checkbox" checked rel="switch">
    </div>
    <div class="switch switch-info pull-left">
      <input type="checkbox" checked rel="switch">
    </div>
    <div class="switch switch-success pull-left">
      <input type="checkbox" checked rel="switch">
    </div>
    <div class="switch switch-warning pull-left">
      <input type="checkbox" checked rel="switch">
    </div>
    <div class="switch switch-danger pull-left">
      <input type="checkbox" checked rel="switch">
    </div>
  </div>

  <div class="clearfix">
    <h5>Readonly</h5>

    <div class="switch pull-left">
      <input type="checkbox" checked readonly rel="switch">
    </div>
    <div class="switch pull-left">
      <input type="checkbox" readonly rel="switch">
    </div>
  </div>


</div>