
 <h2>Username: {{username}}</h2>
  <div class="row form-group">
            New First Name: <br/>
            <div class="col-sm-3">
              <input type = "text" value ='{{name}}' ng-model="user.fname" />
            </div>
            </div>
              New Last Name: <br/>
            <div class="row form-group">
            <div class="col-sm-3">
              <input type = "text" value ='{{name}}' ng-model="user.lname" />
            </div>
          </div>
           <div class="row">
            <button class = "btn-success" ng-click = "UpdateUser()">Update User</button>
            </div>
    
           
</div>