<p>{{region}}</p>

<p>
  <h2 class="title">
    {{region.$id}}
  </h2>
</p>

<div class="row">
<div class="col-sm-12 col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Assiged Areas
        </h3>
      </div>
      <table>
        <tr ng-repeat="area in region.Areas" >
          <td>{{area.Name}}</td>
          <td><a ng-href="#/areas/show/{{area.Name}}">Show</a></td>
          <td><a ng-href="">Edit</a></td>
          <td><a ng-href="">Delete</a></td>
        </tr>
      </table>>
      <div class="panel-body">
        <!--<%= link_to  'Unassign', new_area_region_path(area, @region), method: :delete, id: "#{area.id}_unassign" %>-->
      </div>
    </div>
  </div>
</div>
  

<!--

<div class="row">
  <% @areas.each do |area| %>
    <% unless @region.areas.include? area %>
      <div class="col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= area.name %>
            </h3>
          </div>
          <div class="panel-body">
            <%= link_to  'Assign', new_area_region_path(area, @region), method: :post, id: "#{area.id}_assign" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to 'Edit', edit_region_path(@region)  %>
|
<%= link_to 'Back', regions_path %>
-->