<p>{{region}}</p>

<p> showing stuff</p>



<!-- 
<p>
  <b>
    Name:
  </b>
  <%= @region.name %>
</p>
<h2>
  Assigned
</h2>
<div class="row">
  <% @region.areas.each do |area| %>
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= area.name %>
          </h3>
        </div>
        <div class="panel-body">
          <%= link_to  'Unassign', new_area_region_path(area, @region), method: :delete, id: "#{area.id}_unassign" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<h2>
  Unassigned
</h2>
<div class="row">
  <% @areas.each do |area| %>
    <% unless @region.areas.include? area %>
      <div class="col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= area.name %>
            </h3>
          </div>
          <div class="panel-body">
            <%= link_to  'Assign', new_area_region_path(area, @region), method: :post, id: "#{area.id}_assign" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to 'Edit', edit_region_path(@region)  %>
|
<%= link_to 'Back', regions_path %>
-->