---
layout: angular
title: Emerald
---

<div class="oc-xs-push-push oc-sm-squeeze-push oc-md-squeeze-push oc-lg-squeeze-push
	modal-blur-content" ng-view=""></div>

<!-- This file is just for demo pourposes, can be safely ignored -->

<!-- <div class="splash-center">
  <div class="gauge">
    <div class="gauge-center"></div>
    <div class="gauge-indicator"></div>
  </div>
  </div> -->
