<div class="turbo-card turbo-toggle"
     data-back-class="bg-info"
     data-turbo-url="<%= url_for('/htmls/elements/turbocards/body.html') %>"
     >
<div class="carousel slide vertical tile-normal" data-ride="carousel">
  <div class="carousel-inner bg-warning gradient-diag1-inverse">
    <div class="item active">
      <div class="padded">
        <h4 class="text-white base-header">Today's Sales</h4>
        <h2 class="text-white base-header major">$854</h2>
        <h5>13% <i class="fa fa-caret-up"></i> from yesterday</h5>
      </div>
      <div class="hpadded">
        <div class="easy-pie-chart easy-pie-chart-normal"
             data-percent="24"
             data-color="white"
             data-size="90"
             data-line-width="8"
             data-scale-color="false"
             data-track-color="rgba(255,255,255,0.3)">
          <span>24%</span>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="padded">
        <h5 class="major base-header">Project Emerald</h5>
        <h4>$2,145 <span class="hpadded"><i class="fa fa-caret-up"></i> 4%</span></h4>

        <h5 class="major base-header">Some Other Project</h5>
        <h4>$1,332 <span class="hpadded"><i class="fa fa-caret-down"></i> 2%</span></h4>

        <div class="tile-content-bottom-left padded">
          <a class="btn btn-sm btn-transparent-light" href="#">View All</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>