<div class="turbo-card turbo-toggle"
     data-back-class="bg-info"
     data-turbo-url="<%= url_for('/htmls/elements/turbocards/body.html') %>"
     >
<div class="carousel slide vertical tile-normal" data-ride="carousel">
  <div class="carousel-inner bg-success-lt">
    <div class="item active img-fill-vertical" style="background-image: url(<%= image_path 'superbox/superbox-full-5.jpg' %>)">
      <div class="padded">
        <h4>Awesome New Article</h4>
        <h5>Read more about it</h5>
      </div>
      <div class="tile-content-bottom-left padded">
        <a class="btn btn-sm btn-transparent-light" href="#">
          <i class="fa fa-comment-o"></i> Read More
        </a>
      </div>
    </div>

    <div class="item img-fill-vertical" style="background-image: url(<%= image_path 'superbox/superbox-full-2.jpg' %>)">
      <div class="padded">
        <h4>New Report</h4>
        <h5>With a sparkline too :)</h5>
      </div>
      <div class="hpadded">
        <div class="sparkline-line" data-height="50"></div>
      </div>
      <div class="tile-content-bottom-left padded">
        <a class="btn btn-sm btn-transparent-light" href="#">
          <i class="fa fa-comment-o"></i> View Full Report
        </a>
      </div>
    </div>
  </div>
</div>
</div>