<ul class="chat-box-timeline-list">
  <li>
    <%= partial 'htmls/widgets/chat_box_timeline/comment' %>
    <ul class="chat-box-timeline-list">
      <li>
        <%= partial 'htmls/widgets/chat_box_timeline/comment' %>
      </li>
    </ul>
  </li>
  <li>
    <%= partial 'htmls/widgets/chat_box_timeline/comment' %>
  </li>
</ul>


