<div class="panel panel-primary-lt panel-rounded">

  <div class="panel-body panel-colorize gradient-diag1 no-padding-top">
    <div class="panel-heading">
      <%= partial 'htmls/widgets/actions', locals: { colors: false, collapse: false } %>
    </div>
    <div class="hpadded">
      <h1 class="major text-lg base-header current-day">14</h1>
      <h4 class="text-lg current-month">August</h4>
    </div>
  </div>

  <div class="rings">
    <div class="ring-left"></div>
    <div class="ring-right"></div>
  </div>

  <div class="panel-body panel-body-collapse text-center">
    <div class="vpadded no-padding-bottom">
    <div rel='datepicker' class="datepicker-full"></div>

    </div>
  </div>
</div>
