<%= partial 'layouts/sidebar/bigdrop' %>

<div class="oc-sidebar-header">
  <ul class="nav nav-justified-all">
    <li>
      <a id="oc-left-toggle" href="#oc-wrapper"
         class="btn-nav" style="width: 50px;"
         data-toggle="offcanvas" data-control="left"
         data-states="open,partial"
         data-persist="lg,md,sm"
         data-parent="body" data-sibling="right">
        <i class="icm icm-menu6 oc-partial-rotate"></i>
      </a>
    </li>
    <li>
      <% link_to '#jump-to-menu', class: 'btn-nav', 'data-toggle' => 'modal' do %>
        <i class="icm icm-arrow-right6"></i>
      <% end %>
    </li>
    <li>
      <a class="btn-nav" href="#" rel="popover-click"
         data-toggle="popover"
         data-container="body"
         data-placement="bottom">
        <i class="icm icm-bubbles5 has-corner-badge animated tada">
          <span class="badge badge-corner badge-corner-top-right badge-info-dk">
            <i class="fa fa-exclamation"></i>
          </span>
        </i>
      </a>
    </li>
    <li>
      <% link_to '/htmls/pages/inbox.html', relative: true do %>
          <i class="icm icm-envelope3 has-corner-badge">
            <span class="badge badge-corner badge-corner-top-right badge-primary-dk">4</span>
          </i>
      <% end %>
    </li>
  </ul>
</div>

<div class="oc-sidebar-content" id="collapseAvatarLeft">
  <ul class="nav nav-stacked oc-sidebar-nav visible-xs">
    <li>
      <form class="oc-header oc-search" role="search">
        <div class="form-group has-header">
          <span class="icm icm-search3 form-control-header"></span>
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </li>
    <li class="dropdown">
      <a href="#dropdownUserSidebar" class="collapsed"  data-toggle="collapse" data-parent="#collapseAvatarLeft">
        <div class="media">
          <%= image_tag lorem.avatar(48), :class => 'img-circle media-object pull-left' %>
          <div class="media-body">
            <h4 class="media-heading">Amy R. Hofstadter</h4>
            <%= truncate lorem.sentence, length: 50 %>
          </div>
        </div>
      </a>
      <ul class="collapse dropdown-menu" id="dropdownUserSidebar">
        <li>
          <a href="#"><i class="icm icm-user"></i> Profile</a>
        </li>
        <li>
          <a href="#"><i class="icm icm-cog"></i> Settings</a>
        </li>
        <li>
          <a href="#">
            <i class="icm icm-switch text-danger"></i> <span class="text-danger">Sign out</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <%= partial 'layouts/sidebar/nav' %>
  
  <div class="oc-partial-hidden">

    <div class="padded">
      <button class="btn btn-black-dk btn-block" rel="popover" id="reset-localstorage"
              data-toggle="popover" data-placement="top" 
              data-content="Resets widgets states to original">
        <span class="text-dark-lt">Reset local storage</span>
      </button>
    </div>

    <div class="padded">
      <div class="row">
        <div class="col-xs-6">
          <div class="easy-pie-chart easy-pie-chart-normal"
               data-percent="40"
               data-color="black-dk"
               data-size="80"
               data-line-width="8"
               data-scale-color="false"
               data-track-color="rgba(255,255,255,.05)">
            <span>40%</span>
          </div>
          <p class="text-center">Income</p>
        </div>
        <div class="col-xs-6">
          <div class="easy-pie-chart easy-pie-chart-normal"
               data-percent="25"
               data-color="black-dk"
               data-size="80"
               data-line-width="8"
               data-scale-color="false"
               data-track-color="rgba(255,255,255,.05)">
            <span>25%</span>
          </div>
          <p class="text-center">Sales</p>
        </div>
      </div>
    </div>
    
  </div>

</div>
