<div class="row">
  <% @households.each do |household| %>
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= household.name %>
          </h3>
          <%= link_to 'X', household, method: :delete, id: "#{household.id}_remove" %>
        </div>
        <div class="panel-body index">
          <% household.people.each do |person| %>
            <ul>
              <li class="alabel">
                <%= "#{person.given_name} #{person.family_name}" %>
              </li>
            </ul>
          <% end %>
          <%= link_to 'Show', household, class: [:btn, "btn-success", "btn-lg", "col-md-5", "col-sm-5"], id: "#{household.id}_show" %>
          <%= link_to 'Edit', edit_household_path(household), class: [:btn, "btn-success", "btn-lg", "col-sm-5", "col-md-5", "col-md-offset-2", "col-sm-offset-2"], id: "#{household.id}_edit" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

